pyyaml<=5.4.1 --no-binary=pyyaml
autopep8<=1.5.7
black<=21.5b1
codecov<=2.1.11
coverage<=5.5
flake8-black<=0.2.1
flake8<=3.9.2
jsonschema<=3.2.0
mypy<=0.812
pycodestyle<=2.7.0
pydocstyle<=6.1.1
pylint<=2.8.2
pytest-cov<=2.12.0
pytest-vcr<=1.0.2
pytest<=6.2.4
python-dotenv<=0.17.1
requests<=2.25.1
