interactions:
  - request:
      body:
        '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
        "expiration_month": "09", "email": "richardc9a8@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_0Fudf5nlXzFKZqI0\",\"type\":\"card\",\"creation_date\":1589341017000,\"email\":\"richardc9a8@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc22AG0VoAMF_pg=
        x-amzn-Remapped-Content-Length:
          - "617"
        x-amzn-RequestId:
          - 15a0257a-9d45-46cf-af3e-9b19840130ee
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richardc9a8@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_juDHorLdk6ePkyA8","creation_date":1589341018864,"email":"richardc9a8@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc22LHmToAMF1Aw=
        x-amzn-RequestId:
          - 594e7cb5-7dde-4313-80ab-71e6e055969d
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892490"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"token_id": "tkn_test_0Fudf5nlXzFKZqI0", "customer_id": "cus_test_juDHorLdk6ePkyA8"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_K1CyQsga8C6jlZ2c\",\"active\":true,\"creation_date\":1589341023123,\"customer_id\":\"cus_test_juDHorLdk6ePkyA8\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_0Fudf5nlXzFKZqI0\",\"type\":\"card\",\"creation_date\":1589341017000,\"email\":\"richardc9a8@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\":true}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc22QEr4oAMFhJg=
        x-amzn-RequestId:
          - eadee22f-fcef-43cf-9fc0-b40c62f29cf2
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892491"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/cards/crd_test_K1CyQsga8C6jlZ2c
    response:
      body:
        string:
          "{\"id\":\"crd_test_K1CyQsga8C6jlZ2c\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 la tarjeta con ID crd_test_K1CyQsga8C6jlZ2c exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892494"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc229EFCIAMFvjA=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:37:03 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 5f78fa7b-4ffb-42f4-9c16-ed7f42239e7d
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard6a41@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_lPZSVSxS1F0GePiU","creation_date":1615072083757,"email":"richard6a41@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137607"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bya1EGFxIAMF6Kw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:08:03 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - d4b3e00c-09b1-43b6-b13c-33e7a349f98d
      status:
        code: 201
        message: Created
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/cards/crd_test_VzWxezF3ZmTS51ii
    response:
      body:
        string:
          "{\"id\":\"crd_test_VzWxezF3ZmTS51ii\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 la tarjeta con ID crd_test_VzWxezF3ZmTS51ii exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137611"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bya17ESaoAMF42A=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:08:08 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 92b89829-767f-4f72-865b-71e4844ab4ee
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/cards/crd_test_X4CbqgiLuamvd3el
    response:
      body:
        string:
          "{\"id\":\"crd_test_X4CbqgiLuamvd3el\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 la tarjeta con ID crd_test_X4CbqgiLuamvd3el exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137838"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybtLEmaIAMFooQ=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:14:03 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 71b457aa-e830-4c94-85cc-3979d969bbfb
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/cards/crd_test_xFGrZYJzRxZIhldv
    response:
      body:
        string:
          "{\"id\":\"crd_test_xFGrZYJzRxZIhldv\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 la tarjeta con ID crd_test_xFGrZYJzRxZIhldv exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138083"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bycfCE8hIAMF3Sw=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:19:21 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - e7aad534-b85a-4e3c-94ca-dc471372fd7b
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/cards/crd_test_4XW0Kp5soEhY3wRd
    response:
      body:
        string:
          "{\"id\":\"crd_test_4XW0Kp5soEhY3wRd\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 la tarjeta con ID crd_test_4XW0Kp5soEhY3wRd exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138312"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bydYCERMIAMF94Q=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:25:26 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 49aaa476-f2a7-42ac-847b-f693ff59966a
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/cards/crd_test_M9bHpcYYNCPsAOHV
    response:
      body:
        string:
          "{\"id\":\"crd_test_M9bHpcYYNCPsAOHV\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 la tarjeta con ID crd_test_M9bHpcYYNCPsAOHV exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10140948"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0TluHEJoAMFVYQ=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 12:52:26 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 88ce0632-c653-4046-bbdf-2fec968d9be5
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/cards/crd_test_JsJ6wVxK6H0WMbTN
    response:
      body:
        string:
          "{\"id\":\"crd_test_JsJ6wVxK6H0WMbTN\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 la tarjeta con ID crd_test_JsJ6wVxK6H0WMbTN exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141265"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0YZOFk5IAMF7MQ=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 13:25:14 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - c6665ef3-684c-400d-b037-380565f56f33
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/cards/crd_test_7nA8cXPwC4iPjiFh
    response:
      body:
        string:
          "{\"id\":\"crd_test_7nA8cXPwC4iPjiFh\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 la tarjeta con ID crd_test_7nA8cXPwC4iPjiFh exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141909"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0nD1EnioAMFpsQ=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:05:21 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - f67537ad-537c-4b8e-99a3-c72f1e4ef2ac
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/cards/crd_test_hdZyDjgZrcEzFcht
    response:
      body:
        string:
          "{\"id\":\"crd_test_hdZyDjgZrcEzFcht\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 la tarjeta con ID crd_test_hdZyDjgZrcEzFcht exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142234"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0sNdH5zIAMFosw=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:40:30 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 0e4bf40d-0d6a-4210-a4d3-8f41f687a511
      status:
        code: 200
        message: OK
version: 1
