interactions:
  - request:
      body:
        '{"card_number": "370001000000000", "expiration_month": "04", "expiration_year":
        "2025", "cvv": "2511", "email": "richard0c1d@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_0a7FR237ZAIMLp8O","type":"card","creation_date":1589954934000,"email":"richard0c1d@piedpiper.com","card_number":"370001*****0000","last_four":"0000","active":true,"iin":{"object":"iin","bin":"370001","card_brand":"Amex","card_type":"credito","card_category":null,"issuer":{"name":"AMERICAN
          EXPRESS COMPANY","country":"INDIA","country_code":"IN","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0RqbFBjIAMFfWQ=
        x-amzn-Remapped-Content-Length:
          - "604"
        x-amzn-RequestId:
          - d54ce254-d68f-41d1-b364-baa771e2668f
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard0c1d@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_iJsMPx6Be9McPE4Y","creation_date":1589954935409,"email":"richard0c1d@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0RqpHVdoAMF4ew=
        x-amzn-RequestId:
          - f359c797-244c-4bac-9fe6-0fc782edca1b
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "7213422"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"token_id": "tkn_test_0a7FR237ZAIMLp8O", "customer_id": "cus_test_iJsMPx6Be9McPE4Y"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string:
          "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_ReHygwnEjs6dWCTT\",\"code\":\"card_declined\",\"decline_code\":\"issuer_not_available\",\"merchant_message\":\"Emisor
          no disponible. El banco que emiti\xF3 la tarjeta no responde. El cliente debe
          realizar el pago nuevamente.\",\"user_message\":\"El banco emisor de tu tarjeta
          no responde y la operaci\xF3n no pudo ser completada. Vuelve a realizar el
          pago en unos minutos o intenta nuevamente con otra tarjeta.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0RqwHJCoAMFSyQ=
        x-amzn-RequestId:
          - 69782eee-747d-454c-a639-4c4b540ed8f1
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "7213423"
        x-culqi-version:
          - 2.0.0
      status:
        code: 400
        message: Bad Request
[...]
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard8526@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_bduoHbo9CeMMAwTa","creation_date":1615072021624,"email":"richard8526@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137570"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byarXHPZIAMFwdg=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:07:01 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 72fb4166-b271-4674-8337-746c9f19d043
      status:
        code: 201
        message: Created
[...]
  - request:
      body: '{"token_id": "tkn_test_Wj8IX12G2zZ4rd1L", "customer_id": "cus_test_wTmdSyhsblthXSaW"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string:
          "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_zGpR2VKFlodsBv2y\",\"code\":\"card_declined\",\"decline_code\":\"issuer_not_available\",\"merchant_message\":\"Emisor
          no disponible. El banco que emiti\xF3 la tarjeta no responde. El cliente debe
          realizar el pago nuevamente.\",\"user_message\":\"El banco emisor de tu tarjeta
          no responde y la operaci\xF3n no pudo ser completada. Vuelve a realizar el
          pago en unos minutos o intenta nuevamente con otra tarjeta.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142159"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0sEqFo3oAMFR_A=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:39:37 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - f4644657-c140-42a7-b641-542dc8525cc5
      status:
        code: 400
        message: Bad Request
version: 1
