interactions:
  - request:
      body:
        '{"card_number": "371212121212122", "expiration_month": "11", "expiration_year":
        "2025", "cvv": "2841", "email": "richard1235@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_mGrz3gNRr6HMaSu1","type":"card","creation_date":1589954822000,"email":"richard1235@piedpiper.com","card_number":"371212*****2122","last_four":"2122","active":true,"iin":{"object":"iin","bin":"371212","card_brand":"Amex","card_type":"credito","card_category":null,"issuer":{"name":"AMERICAN
          EXPRESS COMPANY","country":"UNITED STATES","country_code":"US","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0RZCEE_oAMFiIA=
        x-amzn-Remapped-Content-Length:
          - "612"
        x-amzn-RequestId:
          - d5fa3c58-b532-4f6a-9ecb-2c0e1f5ff53f
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard1235@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_u9u7s9aqyLjxaPpl","creation_date":1589954824587,"email":"richard1235@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0RZTEy9oAMFqgg=
        x-amzn-RequestId:
          - 31875839-c5f6-42cf-bb3d-200a0a5b71d2
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "7213371"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"token_id": "tkn_test_mGrz3gNRr6HMaSu1", "customer_id": "cus_test_u9u7s9aqyLjxaPpl"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string:
          '{"object":"card","id":"crd_test_z75mPb8PO8JaNXuf","active":true,"creation_date":1589954831143,"customer_id":"cus_test_u9u7s9aqyLjxaPpl","source":{"object":"token","id":"tkn_test_mGrz3gNRr6HMaSu1","type":"card","creation_date":1589954822000,"email":"richard1235@piedpiper.com","card_number":"371212*****2122","last_four":"2122","active":true,"iin":{"object":"iin","bin":"371212","card_brand":"Amex","card_type":"credito","card_category":null,"issuer":{"name":"AMERICAN
          EXPRESS COMPANY","country":"UNITED STATES","country_code":"US","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}},"metadata":{"ZDA":true}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0RZcHM9IAMF-WQ=
        x-amzn-RequestId:
          - c3977a95-b8b1-48d5-bd43-419a06d0b3ee
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "7213372"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
[...]
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard141c@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_b9OoZleLAtpl0bE3","creation_date":1615072055746,"email":"richard141c@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137587"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byawsEvyIAMFxcw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:07:35 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 057726d5-32de-4ff3-b4af-422b0e820ed7
      status:
        code: 201
        message: Created
[...]
