interactions:
  - request:
      body:
        '{"card_number": "36000200000006", "expiration_month": "01", "expiration_year":
        "2025", "cvv": "230", "email": "richardfeb6@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: '{"object":"token","id":"tkn_test_mxpO1pgc1fbfwnoh","type":"card","creation_date":1615123434000,"email":"richardfeb6@piedpiper.com","card_number":"360002****0006","last_four":"0006","active":true,"iin":{"object":"iin","bin":"360002","card_brand":"Diners","card_type":"credito","card_category":null,"issuer":{"name":"","country":"PERU","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"191.98.182.73","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - b0YMeH3nIAMFjiA=
        x-amzn-Remapped-Content-Length:
          - "579"
        x-amzn-RequestId:
          - 9496370f-0249-461a-b548-638d8280b535
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richardfeb6@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_vKPFBqSrgDjsLWcr","creation_date":1615123435761,"email":"richardfeb6@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141186"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0YM0F0AIAMF4yA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 13:23:55 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 92b0c3cb-4b7a-4cef-95af-45094f9d5478
      status:
        code: 201
        message: Created
  - request:
      body: '{"token_id": "tkn_test_mxpO1pgc1fbfwnoh", "customer_id": "cus_test_vKPFBqSrgDjsLWcr"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string:
          "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_kd6DPIhbjw64OZOR\",\"code\":\"card_declined\",\"decline_code\":\"fraudulent\",\"merchant_message\":\"Operaci\xF3n
          fraudulenta. El banco emisor de la tarjeta sospecha que se trata de una compra
          fraudulenta.\",\"user_message\":\"La operaci\xF3n ha sido denegada por la
          entidad emisora de tu tarjeta. Cont\xE1ctate con el banco para conocer el
          motivo de la denegaci\xF3n o intenta nuevamente con otra tarjeta.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141187"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0YM8GVcoAMFosw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 13:23:58 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - db9c93d8-5788-4595-8757-8502336ce568
      status:
        code: 400
        message: Bad Request
[...]
  - request:
      body: '{"token_id": "tkn_test_jac2zDwDu6MBL8J1", "customer_id": "cus_test_o8YurBg8vZKidAk9"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string:
          "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_pY6z0JBSlAH2e5Ax\",\"code\":\"card_declined\",\"decline_code\":\"fraudulent\",\"merchant_message\":\"Operaci\xF3n
          fraudulenta. El banco emisor de la tarjeta sospecha que se trata de una compra
          fraudulenta.\",\"user_message\":\"La operaci\xF3n ha sido denegada por la
          entidad emisora de tu tarjeta. Cont\xE1ctate con el banco para conocer el
          motivo de la denegaci\xF3n o intenta nuevamente con otra tarjeta.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142139"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0sASFZXIAMFoFw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:39:09 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 5efc211f-1db0-4fff-8539-d521513e9d1f
      status:
        code: 400
        message: Bad Request
version: 1
