interactions:
  - request:
      body:
        '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
        "expiration_month": "09", "email": "richard1e62@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_I73bxz74EgKKmShf\",\"type\":\"card\",\"creation_date\":1589341039000,\"email\":\"richard1e62@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc25WEzXoAMF8yw=
        x-amzn-Remapped-Content-Length:
          - "617"
        x-amzn-RequestId:
          - a5bd8040-289b-4dc0-ac5a-629209c27645
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard1e62@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_XekAHlkhtWfYheCw","creation_date":1589341040955,"email":"richard1e62@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc25nEZcoAMFS9Q=
        x-amzn-RequestId:
          - c3180844-fa3e-4f8c-827c-493b48d98e12
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892503"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"token_id": "tkn_test_I73bxz74EgKKmShf", "customer_id": "cus_test_XekAHlkhtWfYheCw"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_rtfc5bBu8UNavJEy\",\"active\":true,\"creation_date\":1589341045635,\"customer_id\":\"cus_test_XekAHlkhtWfYheCw\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_I73bxz74EgKKmShf\",\"type\":\"card\",\"creation_date\":1589341039000,\"email\":\"richard1e62@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\":true}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc25wFkioAMFfWQ=
        x-amzn-RequestId:
          - 2e6b1cfe-4d39-4334-b15c-9423222c3baf
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892504"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/cards/crd_test_rtfc5bBu8UNavJEy
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_rtfc5bBu8UNavJEy\",\"active\":true,\"creation_date\":1589341045000,\"customer_id\":\"cus_test_XekAHlkhtWfYheCw\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_I73bxz74EgKKmShf\",\"type\":\"card\",\"creation_date\":1589341039000,\"email\":\"richard1e62@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"order_id\":\"0001\"}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892507"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc26fFVVoAMFVgw=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:37:26 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 13e29111-7a48-4f8b-9c10-26d06c574dca
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard1883@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_CSdZ2drmxmZRG8yw","creation_date":1615072102010,"email":"richard1883@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137621"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bya36HzZoAMFfvw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:08:22 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 5b24602c-e742-41ff-ad69-9adae31a08e2
      status:
        code: 201
        message: Created
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/cards/crd_test_jlsGIZZqwpumAo3N
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_jlsGIZZqwpumAo3N\",\"active\":true,\"creation_date\":1615072106000,\"customer_id\":\"cus_test_CSdZ2drmxmZRG8yw\",\"source\":{\"object\":\"token\",[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/cards/crd_test_EwD70WTAXsGuUiMt
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_EwD70WTAXsGuUiMt\",\"active\":true,\"creation_date\":1615072459000,\"customer_id\":\"cus_test_kc6zOJNSlSmQi7Dk\",\"source\":{\"object\":\"token\",[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/cards/crd_test_NYatsbfz75hbr4Nw
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_NYatsbfz75hbr4Nw\",\"active\":true,\"creation_date\":1615072783000,\"customer_id\":\"cus_test_IG95OFeJkyLU5N8H\",\"source\":{\"object\":\"token\",[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/cards/crd_test_xtiW4vBZeC33aQyu
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_xtiW4vBZeC33aQyu\",\"active\":true,\"creation_date\":1615073143000,\"customer_id\":\"cus_test_acVeUC4eQF1gFhog\",\"source\":{\"object\":\"token\",[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/cards/crd_test_FhRar4RIQ8neOU3o
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_FhRar4RIQ8neOU3o\",\"active\":true,\"creation_date\":1615121562000,\"customer_id\":\"cus_test_hhJCycBSkxuLKrA1\",\"source\":{\"object\":\"token\",[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/cards/crd_test_Pq5lxC1iGQHWH3lw
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_Pq5lxC1iGQHWH3lw\",\"active\":true,\"creation_date\":1615123531000,\"customer_id\":\"cus_test_vZFfRcdFlKsgUnXn\",\"source\":{\"object\":\"token\",[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/cards/crd_test_YLvInF0KNSs4Bs09
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_YLvInF0KNSs4Bs09\",\"active\":true,\"creation_date\":1615129539000,\"customer_id\":\"cus_test_DCxJ0aZkEhLayrqz\",\"source\":{\"object\":\"token\",[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/cards/crd_test_6iDw66xuLZJ6CoLk
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_6iDw66xuLZJ6CoLk\",\"active\":true,\"creation_date\":1615131648000,\"customer_id\":\"cus_test_siugSFxM3jDQId2L\",\"source\":{\"object\":\"token\",[...]
