interactions:
  - request:
      body:
        '{"card_number": "4000020000000000", "expiration_month": "10", "expiration_year":
        "2025", "cvv": "354", "email": "richardcfc7@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          "{\"object\":\"token\",\"id\":\"tkn_test_rx0i9eEBNwh7dDQ9\",\"type\":\"card\",\"creation_date\":1589954944000,\"email\":\"richardcfc7@piedpiper.com\",\"card_number\":\"400002******0000\",\"last_four\":\"0000\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"400002\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"RIVER
          VALLEY C.U.\",\"country\":\"UNITED STATES\",\"country_code\":\"US\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0Rr-EjqIAMFdvg=
        x-amzn-Remapped-Content-Length:
          - "612"
        x-amzn-RequestId:
          - b8aeaa45-f5a7-42ea-9659-f3f2c611c1a3
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richardcfc7@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_LTD5xJHUEg8A6r6q","creation_date":1589954945863,"email":"richardcfc7@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0RsRGJ5oAMF8-Q=
        x-amzn-RequestId:
          - 0f9eaf59-027d-4844-bdb7-bbe2382e3d9e
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "7213432"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"token_id": "tkn_test_rx0i9eEBNwh7dDQ9", "customer_id": "cus_test_LTD5xJHUEg8A6r6q"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string:
          "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_SdFyv9ljbIsoh5FZ\",\"code\":\"card_declined\",\"decline_code\":\"stolen_card\",\"merchant_message\":\"Tarjeta
          robada. La tarjeta fue bloqueada y reportada al banco emisor como una tarjeta
          robada.\",\"user_message\":\"Su tarjeta est\xE1 vencida. Verifica la fecha
          de vencimiento de tu tarjeta e ingr\xE9salos correctamente. Si es denegada
          nuevamente, cont\xE1ctate con el banco emisor de tu tarjeta.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0RsaFjQoAMFc6w=
        x-amzn-RequestId:
          - 4b482a83-724b-42ef-83aa-ed3a005fb73c
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "7213433"
        x-culqi-version:
          - 2.0.0
      status:
        code: 400
        message: Bad Request
[...]
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard9182@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_qfR4lILrCqDhqF1h","creation_date":1615072049774,"email":"richard9182@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137583"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byavwGvkIAMFh-Q=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:07:29 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - ebf6c6ef-6431-4f5f-b7e2-ffbfd2867632
      status:
        code: 201
        message: Created
[...]
  - request:
      body: '{"token_id": "tkn_test_8SSSqy9swCHbfZ1F", "customer_id": "cus_test_bsDljysReHcy6NU6"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string:
          "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_XC0vjjYHs9PKwqKj\",\"code\":\"card_declined\",\"decline_code\":\"stolen_card\",\"merchant_message\":\"Tarjeta
          robada. La tarjeta fue bloqueada y reportada al banco emisor como una tarjeta
          robada.\",\"user_message\":\"Su tarjeta est\xE1 vencida. Verifica la fecha
          de vencimiento de tu tarjeta e ingr\xE9salos correctamente. Si es denegada
          nuevamente, cont\xE1ctate con el banco emisor de tu tarjeta.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142175"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0sG_EY0oAMFe1Q=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:39:52 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 4c69e5e4-5b33-4b68-92fd-b739decdbdb0
      status:
        code: 400
        message: Bad Request
version: 1
