interactions:
- request:
    body: '{"card_number": "4000040000000008", "expiration_month": "03", "expiration_year":
      "2025", "cvv": "295", "email": "richard958b@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_LbQD6VGoWlkCSD9O","type":"card","creation_date":1589954914000,"email":"richard958b@piedpiper.com","card_number":"400004******0008","last_four":"0008","active":true,"iin":{"object":"iin","bin":"400004","card_brand":"Visa","card_type":"debito","card_category":null,"issuer":{"name":"","country":"UNITED
        STATES","country_code":"US","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RnZHVJIAMFqSw=
      x-amzn-Remapped-Content-Length:
      - '588'
      x-amzn-RequestId:
      - 8d10c359-b25c-49d8-8ff8-ef87e4c7e445
    status:
      code: 201
      message: Created
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richard958b@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_VpzlVjQgtfwVEvIG","creation_date":1589954915702,"email":"richard958b@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RnjG_SIAMFmPA=
      x-amzn-RequestId:
      - a9c1eb72-9878-4b84-9c9d-fa721aed8d93
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213407'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"token_id": "tkn_test_LbQD6VGoWlkCSD9O", "customer_id": "cus_test_VpzlVjQgtfwVEvIG"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_7v6U026SptLFCk7o\",\"code\":\"card_declined\",\"decline_code\":\"insufficient_funds\",\"merchant_message\":\"Fondos
        insuficientes. La tarjeta no tiene fondos suficientes para realizar la compra.\",\"user_message\":\"Su
        tarjeta no tiene fondos suficientes. Para realizar la compra, verifica tus
        fondos disponibles con el banco emisor o int\xE9nta nuevamente con otra tarjeta.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0RnrGgYIAMFZ9Q=
      x-amzn-RequestId:
      - ab43cc9f-f3c1-4517-b19b-36bb1531a3ed
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213408'
      x-culqi-version:
      - 2.0.0
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richard4f3e@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_2AzHo9Lull6LyFEf","creation_date":1615072006481,"email":"richard4f3e@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137558'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - byao_F6ToAMF3SA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:06:46 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - da31955c-0160-4c69-a5f2-993c8567fcc7
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"token_id": "tkn_test_AIQpqmU6vPeiDi4S", "customer_id": "cus_test_tvkqUdtSAaLUEbWP"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_nNZYMZbUDSImc2ob\",\"code\":\"card_declined\",\"decline_code\":\"insufficient_funds\",\"merchant_message\":\"Fondos
        insuficientes. La tarjeta no tiene fondos suficientes para realizar la compra.\",\"user_message\":\"Su
        tarjeta no tiene fondos suficientes. Para realizar la compra, verifica tus
        fondos disponibles con el banco emisor o int\xE9nta nuevamente con otra tarjeta.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10142147'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0sB8FZMoAMFUpw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:39:20 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - e954d207-f322-4eb5-a7c0-f1156eb8820f
    status:
      code: 400
      message: Bad Request
version: 1
