interactions:
  - request:
      body:
        '{"card_number": "36000000000008", "expiration_month": "09", "expiration_year":
        "2025", "cvv": "683", "email": "richarde8bc@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_2DjQZH9qJD1b2abE","type":"card","creation_date":1589954919000,"email":"richarde8bc@piedpiper.com","card_number":"360000****0008","last_four":"0008","active":true,"iin":{"object":"iin","bin":"360000","card_brand":"Diners","card_type":"credito","card_category":null,"issuer":{"name":"","country":"UNITED
          STATES","country_code":"US","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0RoIFDkIAMFkCA=
        x-amzn-Remapped-Content-Length:
          - "589"
        x-amzn-RequestId:
          - e1ccb927-d827-4c3d-a360-83bdda533abb
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richarde8bc@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_Fq7mcm6HrkAoPNUJ","creation_date":1589954925515,"email":"richarde8bc@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0RpGHtZIAMFing=
        x-amzn-RequestId:
          - 6e1ad328-2cbc-4423-bdd2-d889d7abc51f
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "7213412"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"token_id": "tkn_test_2DjQZH9qJD1b2abE", "customer_id": "cus_test_Fq7mcm6HrkAoPNUJ"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string:
          "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_XnUsE7oC5fweh00x\",\"code\":\"card_declined\",\"decline_code\":\"invalid_card\",\"merchant_message\":\"Tarjeta
          inv\xE1lida. La tarjeta utilizada tiene restricciones para este tipo de compras.
          El cliente necesita contactarse con el banco emisor para conocer el motivo
          de la denegaci\xF3n.\",\"user_message\":\"La operaci\xF3n ha sido denegada
          por la entidad emisora de tu tarjeta. Cont\xE1ctate con el banco para conocer
          el motivo de la denegaci\xF3n o intenta nuevamente con otra tarjeta.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0RpNF43IAMF8eg=
        x-amzn-RequestId:
          - dded456a-4ec3-420c-bd11-3873ae8e99ad
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "7213414"
        x-culqi-version:
          - 2.0.0
      status:
        code: 400
        message: Bad Request
[...]
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richarda116@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_NVlT2cBpf2Ycwocl","creation_date":1615072011328,"email":"richarda116@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137562"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byapvE3ToAMFlYQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:06:51 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - ac5e1100-eb8b-47d9-b3cb-dbaaca985083
      status:
        code: 201
        message: Created
[...]
