interactions:
- request:
    body: '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
      "expiration_month": "09", "email": "richard2a35@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_0rnDwdBXx3fYHUkO\",\"type\":\"card\",\"creation_date\":1589341030000,\"email\":\"richard2a35@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc23_FEcIAMFy6A=
      x-amzn-Remapped-Content-Length:
      - '617'
      x-amzn-RequestId:
      - e81fd1cd-b39b-418e-8eaf-b1f933c709c3
    status:
      code: 201
      message: Created
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richard2a35@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_fIrnn6GRZXUvacF5","creation_date":1589341031812,"email":"richard2a35@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc24NELWIAMFXuA=
      x-amzn-RequestId:
      - b91271b3-0541-4907-9239-8df97fddc538
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892497'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"token_id": "tkn_test_0rnDwdBXx3fYHUkO", "customer_id": "cus_test_fIrnn6GRZXUvacF5"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/cards
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_bbUJQnWpeGLEDc0k\",\"active\":true,\"creation_date\":1589341037310,\"customer_id\":\"cus_test_fIrnn6GRZXUvacF5\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_0rnDwdBXx3fYHUkO\",\"type\":\"card\",\"creation_date\":1589341030000,\"email\":\"richard2a35@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\":true}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc24UG4FIAMFZJw=
      x-amzn-RequestId:
      - 92f28c1d-ff48-4776-a5fc-b96e5cff3338
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892498'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/cards/crd_test_bbUJQnWpeGLEDc0k
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_bbUJQnWpeGLEDc0k\",\"active\":true,\"creation_date\":1589341037000,\"customer_id\":\"cus_test_fIrnn6GRZXUvacF5\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_0rnDwdBXx3fYHUkO\",\"type\":\"card\",\"creation_date\":1589341030000,\"email\":\"richard2a35@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '6892501'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - Mc25LHieIAMF2HA=
      x-amzn-Remapped-Date:
      - Wed, 13 May 2020 03:37:17 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 832810ff-bb15-4a66-a7a1-bc0b4ac85330
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
      "PE", "email": "richard2a0f@piedpiper.com", "first_name": "Richard", "last_name":
      "Piedpiper", "phone_number": "+51998989789"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/customers
  response:
    body:
      string: '{"object":"customer","id":"cus_test_rDEIZSpMAtVt2Lck","creation_date":1615072094039,"email":"richard2a0f@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
        Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137614'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bya2qHIroAMF-4w=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:08:14 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - aa0c3511-aa39-4ea3-8399-d6611fb30d68
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/cards/crd_test_o6e0nLza25arItNM
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_o6e0nLza25arItNM\",\"active\":true,\"creation_date\":1615072098000,\"customer_id\":\"cus_test_rDEIZSpMAtVt2Lck\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_oSYKe2MITVgJ7dOI\",\"type\":\"card\",\"creat[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/cards/crd_test_6UILRjhET1Cw39Tv
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_6UILRjhET1Cw39Tv\",\"active\":true,\"creation_date\":1615072451000,\"customer_id\":\"cus_test_DSKGzibMTo3PKZL9\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_Wg9aLD0n0ff8O6Pc\",\"type\":\"card\",\"creat[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/cards/crd_test_FioIwkifZe91Ww7Y
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_FioIwkifZe91Ww7Y\",\"active\":true,\"creation_date\":1615072770000,\"customer_id\":\"cus_test_pkMVEW14DYhL9TpE\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_crmBHpkcvlZldljg\",\"type\":\"card\",\"creat[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/cards/crd_test_3PPrDTOlVSH3Voau
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_3PPrDTOlVSH3Voau\",\"active\":true,\"creation_date\":1615073136000,\"customer_id\":\"cus_test_xOTK6CTyUTE7arEI\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_lPrCSsBq1tKzpY4p\",\"type\":\"card\",\"creat[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/cards/crd_test_xGI5GkHxQdXA1EzC
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_xGI5GkHxQdXA1EzC\",\"active\":true,\"creation_date\":1615121555000,\"customer_id\":\"cus_test_xaIdKHiQJeLCEYwf\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_3WSn5YIK9bdq3juA\",\"type\":\"card\",\"creat[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/cards/crd_test_wws79fdfBmyjZhcC
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_wws79fdfBmyjZhcC\",\"active\":true,\"creation_date\":1615123524000,\"customer_id\":\"cus_test_uJqgib0MchBqbVSn\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_c3PPCg6sEYIcywpm\",\"type\":\"card\",\"creat[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/cards/crd_test_bsBkdltBAZsx1uiy
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_bsBkdltBAZsx1uiy\",\"active\":true,\"creation_date\":1615129531000,\"customer_id\":\"cus_test_6DGNReuAZeEj6Az2\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_MUOz6Op5ktORztme\",\"type\":\"card\",\"creat[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/cards/crd_test_gKupSubohkDuifCQ
  response:
    body:
      string: "{\"object\":\"card\",\"id\":\"crd_test_gKupSubohkDuifCQ\",\"active\":true,\"creation_date\":1615131641000,\"customer_id\":\"cus_test_CWJvuzwx85ZjBO5v\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_tfqOILrnsWg7xica\",\"type\":\"card\",\"creat[...]
