interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/charges
    response:
      body:
        string:
          "{\"data\":[{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_J1QRDJ2xZUXF0Ggv\",\"creation_date\":1589341061000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\":\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta
          de prueba\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_cQLnnGuahVeZOr9P\",\"type\":\"card\",\"creation_date\":1589341057000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":null,\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":null,\"website\":null,\"phone_number\":null},\"installments_allowed\":null},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":null,\"ip_country_code\":null,\"browser\":null,\"device_fingerprint\":null,\"device_type\":null},\"metadata\":{}},\"outcome\":{\"type\":\"venta_exitosa\",\"code\":\"AUT0000\",\"merchant_message\":\"La
          operaci\xF3n de venta ha sido autorizada exitosamente\",\"user_message\":\"Su
          compra ha sido exitosa.\"},\"fraud_score\":6.0,\"dispute\":false,\"capture\":false,\"reference_code\":\"Sn1NGJp47Y\",\"authorization_code\":\"W7vqDp\",\"metadata\":{},\"total_fee\":47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"currency_code\":\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\":7,\"transfer_amount\":953,\"paid\":false,\"statement_descriptor\":\"CULQI*\",\"transfer_id\":null,\"operations\":[],\"capture_date\":null},{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_SHvFuznvdB8laU2y\",\"creation_date\":1589341048000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\":\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta
          de prueba\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_E6yAPDgIYIgySwVQ\",\"type\":\"card\",\"creation_date\":1589341047000,\"email\":\"richard@piedpiper.com\",\"card_[...]
[...]
