interactions:
- request:
    body: '{"card_number": "5400020000000003", "expiration_month": "07", "expiration_year":
      "2025", "cvv": "203", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_pdXSISDn77ETB3Yn","type":"card","creation_date":1589954293000,"email":"richard@piedpiper.com","card_number":"540002******0003","last_four":"0003","active":true,"iin":{"object":"iin","bin":"540002","card_brand":"MasterCard","card_type":"credito","card_category":null,"issuer":{"name":"BARCLAYS
        BANK PLC","country":"UNITED KINGDOM","country_code":"GB","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0QGYFXtoAMFy6A=
      x-amzn-Remapped-Content-Length:
      - '609'
      x-amzn-RequestId:
      - eee3ac1c-8a51-4058-a7f1-dc447562b2ea
    status:
      code: 201
      message: Created
- request:
    body: '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
      "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
      "tkn_test_pdXSISDn77ETB3Yn"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_m3kfEaK4h8WNGL8V\",\"code\":\"card_declined\",\"decline_code\":\"incorrect_cvv\",\"merchant_message\":\"CVV
        incorrecto. El c\xF3digo de seguridad (CVV2, CVC2, CID) de la tarjeta es incorrecto.\",\"user_message\":\"El
        c\xF3digo de seguridad (CVV) es incorrecto. Verifica tu tarjeta e ingresa
        los d\xEDgitos correctamente. Si es denegada nuevamente, cont\xE1ctate con
        el banco emisor de tu tarjeta. \"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0QGmFFqIAMF0Rw=
      x-amzn-RequestId:
      - d1df2ead-b1f7-4963-9010-2dd45ff68983
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213314'
      x-culqi-version:
      - 2.0.0
    status:
      code: 402
      message: Payment Required
[...]
- request:
    body: '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
      "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
      "tkn_test_cvQNibIeWMzJgBAK"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_c7PAQlp4p91g6ovs\",\"code\":\"card_declined\",\"decline_code\":\"incorrect_cvv\",\"merchant_message\":\"CVV
        incorrecto. El c\xF3digo de seguridad (CVV2, CVC2, CID) de la tarjeta es incorrecto.\",\"user_message\":\"El
        c\xF3digo de seguridad (CVV) es incorrecto. Verifica tu tarjeta e ingresa
        los d\xEDgitos correctamente. Si es denegada nuevamente, cont\xE1ctate con
        el banco emisor de tu tarjeta. \"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137636'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bya77F2xIAMF5zQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:08:49 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - 79186f06-5a16-47d0-b954-e2ec11923239
    status:
      code: 402
      message: Payment Required
[...]
- request:
    body: '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
      "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
      "tkn_test_rFaw3Rh2lqZhRE0n"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_pJ2EUMKFAmNdZ2Kv\",\"code\":\"card_declined\",\"decline_code\":\"incorrect_cvv\",\"merchant_message\":\"CVV
        incorrecto. El c\xF3digo de seguridad (CVV2, CVC2, CID) de la tarjeta es incorrecto.\",\"user_message\":\"El
        c\xF3digo de seguridad (CVV) es incorrecto. Verifica tu tarjeta e ingresa
        los d\xEDgitos correctamente. Si es denegada nuevamente, cont\xE1ctate con
        el banco emisor de tu tarjeta. \"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10142287'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0sTVHvaIAMF0Xg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:41:11 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - d3d5c2cf-1eb4-41ec-b975-a3d73134ce8f
    status:
      code: 402
      message: Payment Required
version: 1
