interactions:
  - request:
      body:
        '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
        "expiration_month": "09", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_E6yAPDgIYIgySwVQ\",\"type\":\"card\",\"creation_date\":1589341047000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc26oHmioAMFsig=
        x-amzn-Remapped-Content-Length:
          - "613"
        x-amzn-RequestId:
          - 80eda1b8-6583-4c4f-8072-4131161f4dd1
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
        "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
        "tkn_test_E6yAPDgIYIgySwVQ"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_SHvFuznvdB8laU2y\",\"creation_date\":1589341048000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\":\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta
          de prueba\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_E6yAPDgIYIgySwVQ\",\"type\":\"card\",\"creation_date\":1589341047000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"outcome\":{\"type\":\"venta_exitosa\",\"code\":\"AUT0000\",\"merchant_message\":\"La
          operaci\xF3n de venta ha sido autorizada exitosamente\",\"user_message\":\"Su
          compra ha sido exitosa.\"},\"fraud_score\":6.0,\"dispute\":false,\"capture\":false,\"reference_code\":\"AgKge8BQ93\",\"authorization_code\":\"ZcLRVc\",\"metadata\":{},\"total_fee\":47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"currency_code\":\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\":7,\"transfer_amount\":953,\"paid\":false,\"statement_descriptor\":\"CULQI*\",\"transfer_id\":null,\"capture_date\":null}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc26yF6QoAMFokQ=
        x-amzn-RequestId:
          - abbdb2a3-15d9-40b1-af72-e22da5b87a57
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892509"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges/chr_test_SHvFuznvdB8laU2y/capture
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_SHvFuznvdB8laU2y\",\"creation_date\":1589341048000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"[...]
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges/chr_test_EchxXLR3buVoJ2gd/capture
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_EchxXLR3buVoJ2gd\",\"creation_date\":1615072110000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"[...]
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges/chr_test_02P5wJvnXiWftimb/capture
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_02P5wJvnXiWftimb\",\"creation_date\":1615072462000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"[...]
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges/chr_test_AFb5ukJD4bMfpIv6/capture
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_AFb5ukJD4bMfpIv6\",\"creation_date\":1615072787000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"[...]
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges/chr_test_fNIPIdEOYToeAoGU/capture
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_fNIPIdEOYToeAoGU\",\"creation_date\":1615073147000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"[...]
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges/chr_test_dZVNBdCNwxJoXiAy/capture
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_dZVNBdCNwxJoXiAy\",\"creation_date\":1615121565000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"[...]
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges/chr_test_ks5qRMjqZ57A52Fp/capture
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_ks5qRMjqZ57A52Fp\",\"creation_date\":1615123535000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"[...]
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges/chr_test_pecXulkqg4SGJLYm/capture
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_pecXulkqg4SGJLYm\",\"creation_date\":1615129544000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"[...]
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges/chr_test_Jy3FmvTSX3K3UBtk/capture
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_Jy3FmvTSX3K3UBtk\",\"creation_date\":1615131652000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"[...]
