interactions:
- request:
    body: '{"card_number": "5400000000000005", "expiration_month": "01", "expiration_year":
      "2025", "cvv": "492", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_yqh4Y71nEzainj4J","type":"card","creation_date":1589954374000,"email":"richard@piedpiper.com","card_number":"540000******0005","last_four":"0005","active":true,"iin":{"object":"iin","bin":"540000","card_brand":"MasterCard","card_type":"credito","card_category":"Oro","issuer":{"name":"SAMBA
        FINANCIAL GROUP","country":"SAUDI ARABIA","country_code":"SA","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0QS8GGBIAMFbzQ=
      x-amzn-Remapped-Content-Length:
      - '612'
      x-amzn-RequestId:
      - f34f5fdb-1418-4e89-ae35-d1f5d7dd3f35
    status:
      code: 201
      message: Created
- request:
    body: '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
      "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
      "tkn_test_yqh4Y71nEzainj4J"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_1AAUn5wJOKu9zNgD\",\"code\":\"card_declined\",\"decline_code\":\"contact_issuer\",\"merchant_message\":\"Contactar
        emisor. La operaci\xF3n fue denegada por el banco emisor de la tarjeta y el
        cliente necesita contactarse con la entidad para conocer el motivo.\",\"user_message\":\"La
        operaci\xF3n ha sido denegada por la entidad emisora de tu tarjeta. Cont\xE1ctate
        con el banco para conocer el motivo de la denegaci\xF3n o intenta nuevamente
        con otra tarjeta.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0QTMGpvoAMF9aw=
      x-amzn-RequestId:
      - f4c5bfee-2a8a-42b8-b8f6-91e9f4d60b0f
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '7213319'
      x-culqi-version:
      - 2.0.0
    status:
      code: 402
      message: Payment Required
[...]
- request:
    body: '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
      "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
      "tkn_test_pqP2beoHoalPXDVO"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body:
      string: "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_eqXCshfrdEl8kuMC\",\"code\":\"card_declined\",\"decline_code\":\"contact_issuer\",\"merchant_message\":\"Contactar
        emisor. La operaci\xF3n fue denegada por el banco emisor de la tarjeta y el
        cliente necesita contactarse con la entidad para conocer el motivo.\",\"user_message\":\"La
        operaci\xF3n ha sido denegada por la entidad emisora de tu tarjeta. Cont\xE1ctate
        con el banco para conocer el motivo de la denegaci\xF3n o intenta nuevamente
        con otra tarjeta.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137633'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bya7OH4aoAMFiVQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:08:44 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - adef274e-0c94-4dfe-ab22-f2aad1a88453
    status:
      code: 402
      message: Payment Required
[...]
