interactions:
  - request:
      body:
        '{"card_number": "4000040000000008", "expiration_month": "03", "expiration_year":
        "2025", "cvv": "295", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_JSaaswgFCnVNVLQy","type":"card","creation_date":1589954379000,"email":"richard@piedpiper.com","card_number":"400004******0008","last_four":"0008","active":true,"iin":{"object":"iin","bin":"400004","card_brand":"Visa","card_type":"debito","card_category":null,"issuer":{"name":"","country":"UNITED
          STATES","country_code":"US","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0QTuHo1IAMF5gQ=
        x-amzn-Remapped-Content-Length:
          - "584"
        x-amzn-RequestId:
          - c94a0f62-e579-4450-97e4-debe149ef82e
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
        "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
        "tkn_test_JSaaswgFCnVNVLQy"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges
    response:
      body:
        string:
          "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_5lV3IV6ssSs9xMi9\",\"code\":\"card_declined\",\"decline_code\":\"insufficient_funds\",\"merchant_message\":\"Fondos
          insuficientes. La tarjeta no tiene fondos suficientes para realizar la compra.\",\"user_message\":\"Su
          tarjeta no tiene fondos suficientes. Para realizar la compra, verifica tus
          fondos disponibles con el banco emisor o int\xE9nta nuevamente con otra tarjeta.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0QT6HYEIAMFdvg=
        x-amzn-RequestId:
          - 1e7c70d9-9c8d-4cc4-b78d-d5a6e64f6009
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "7213323"
        x-culqi-version:
          - 2.0.0
      status:
        code: 402
        message: Payment Required
[...]
  - request:
      body:
        '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
        "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
        "tkn_test_eeswwPxCIf1RRsns"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges
    response:
      body:
        string:
          "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_F00nAUFRHOYp5EpY\",\"code\":\"card_declined\",\"decline_code\":\"insufficient_funds\",\"merchant_message\":\"Fondos
          insuficientes. La tarjeta no tiene fondos suficientes para realizar la compra.\",\"user_message\":\"Su
          tarjeta no tiene fondos suficientes. Para realizar la compra, verifica tus
          fondos disponibles con el banco emisor o int\xE9nta nuevamente con otra tarjeta.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137638"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bya8nFyooAMFbWg=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:08:53 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - c0b45e17-4fdc-4630-9b8d-e57bfae1582f
      status:
        code: 402
        message: Payment Required
[...]
