interactions:
  - request:
      body:
        '{"card_number": "36001212121210", "expiration_month": "04", "expiration_year":
        "2025", "cvv": "964", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_oTSJz1iCrCODkLn8","type":"card","creation_date":1589954475000,"email":"richard@piedpiper.com","card_number":"360012****1210","last_four":"1210","active":true,"iin":{"object":"iin","bin":"360012","card_brand":"Diners","card_type":"debito","card_category":null,"issuer":{"name":"BERLINER
          BANK AG","country":"Germany","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0Qi0EKKoAMFr9Q=
        x-amzn-Remapped-Content-Length:
          - "594"
        x-amzn-RequestId:
          - 1223da97-5ee0-480c-8d76-27cfc3704850
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
        "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
        "tkn_test_oTSJz1iCrCODkLn8"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_tUera5TrTS1O8XDX\",\"creation_date\":1589954478000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\":\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta
          de prueba\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_oTSJz1iCrCODkLn8\",\"type\":\"card\",\"creation_date\":1589954475000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"360012****1210\",\"last_four\":\"1210\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"360012\",\"card_brand\":\"Diners\",\"card_type\":\"debito\",\"card_category\":null,\"issuer\":{\"name\":\"BERLINER
          BANK AG\",\"country\":\"Germany\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"outcome\":{\"type\":\"venta_exitosa\",\"code\":\"AUT0000\",\"merchant_message\":\"La
          operaci\xF3n de venta ha sido autorizada exitosamente\",\"user_message\":\"Su
          compra ha sido exitosa.\"},\"fraud_score\":48.0,\"dispute\":false,\"capture\":false,\"reference_code\":\"t9m2HNqTD9\",\"authorization_code\":\"CdYGA0\",\"metadata\":{},\"total_fee\":47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"currency_code\":\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\":7,\"transfer_amount\":953,\"paid\":false,\"statement_descriptor\":\"CULQI*\",\"transfer_id\":null,\"capture_date\":null}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0QjCFwNoAMFaDQ=
        x-amzn-RequestId:
          - 31a84673-cf20-4144-8668-928f1deb5423
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "7213343"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
[...]
