interactions:
  - request:
      body:
        '{"card_number": "370002000000008", "expiration_month": "05", "expiration_year":
        "2025", "cvv": "1810", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_Mb6SLgJNulmwvYLx","type":"card","creation_date":1589953982000,"email":"richard@piedpiper.com","card_number":"370002*****0008","last_four":"0008","active":true,"iin":{"object":"iin","bin":"370002","card_brand":"Amex","card_type":"credito","card_category":null,"issuer":{"name":"AMERICAN
          EXPRESS COMPANY","country":"BRAZIL","country_code":"BR","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0PVsE5wIAMF9dA=
        x-amzn-Remapped-Content-Length:
          - "601"
        x-amzn-RequestId:
          - 9cb6170b-9e3b-4821-aa4c-d7c40c926ce6
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
        "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
        "tkn_test_Mb6SLgJNulmwvYLx"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges
    response:
      body:
        string:
          "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_HXST2Q3L4TRtZN2U\",\"code\":\"card_declined\",\"decline_code\":\"issuer_decline_operation\",\"merchant_message\":\"Operaci\xF3n
          denegada. La operaci\xF3n fue denegada por el banco emisor de la tarjeta por
          una raz\xF3n desconocida.\",\"user_message\":\"La operaci\xF3n ha sido denegada
          por la entidad emisora de tu tarjeta. Cont\xE1ctate con el banco para conocer
          el motivo de la denegaci\xF3n o intenta nuevamente con otra tarjeta.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0PV9EXXoAMFeGQ=
        x-amzn-RequestId:
          - f2fe3de9-496e-4af3-b309-d4996f65bb42
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "7213299"
        x-culqi-version:
          - 2.0.0
      status:
        code: 402
        message: Payment Required
[...]
  - request:
      body:
        '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
        "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
        "tkn_test_B0UDrL9OZUndsQxI"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges
    response:
      body:
        string:
          "{\"object\":\"error\",\"type\":\"card_error\",\"charge_id\":\"chr_test_0o0Ph3pcLfzjvL32\",\"code\":\"card_declined\",\"decline_code\":\"issuer_decline_operation\",\"merchant_message\":\"Operaci\xF3n
          denegada. La operaci\xF3n fue denegada por el banco emisor de la tarjeta por
          una raz\xF3n desconocida.\",\"user_message\":\"La operaci\xF3n ha sido denegada
          por la entidad emisora de tu tarjeta. Cont\xE1ctate con el banco para conocer
          el motivo de la denegaci\xF3n o intenta nuevamente con otra tarjeta.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137642"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bya-LH7joAMFXUw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:09:04 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 66ce2704-b71d-4a45-9e0d-a8f4f2176263
      status:
        code: 402
        message: Payment Required
[...]
