interactions:
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard8822@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_slxXgyER5LxP7Vj8","creation_date":1589341087209,"email":"richard8822@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3A3FgZoAMFSWg=
        x-amzn-RequestId:
          - 0b8a54b9-66a9-42e1-83fc-14d4fdb9e6f5
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892525"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/customers/cus_test_slxXgyER5LxP7Vj8
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_slxXgyER5LxP7Vj8","creation_date":1589341087000,"email":"richard8822@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"cards":[],"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892526"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3A-FGboAMFulw=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:07 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - adf5ef1e-dad9-4dbc-aa7b-73b6612ddc5f
      status:
        code: 200
        message: OK
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard4331@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_FzIgYpt4mJsbWwYq","creation_date":1615072220065,"email":"richard4331@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137678"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybKXGwDIAMFeCA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:20 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 2ec63829-b656-4828-82bc-90e5c81fd384
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/customers/cus_test_FzIgYpt4mJsbWwYq
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_FzIgYpt4mJsbWwYq","creation_date":1615072220000,"email":"richard4331@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"cards":[],"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137679"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybKfGWMIAMF7nw=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:19 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - dfc22c5c-4bd7-40bf-b865-a6fc06f65af0
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/customers/cus_test_32jQDyvUwYCAiOyt
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_32jQDyvUwYCAiOyt","creation_date":1615072559000,"email":"richardf7f1@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"cards":[],"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137901"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byb_eH7OIAMF5Sw=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:15:59 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 337d14ab-51b5-43fa-966d-395d904a814c
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/customers/cus_test_o8nx0qePilTkCEEr
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_o8nx0qePilTkCEEr","creation_date":1615072907000,"email":"richard58d8@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"cards":[],"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138156"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byc11GhnIAMF1cQ=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:21:47 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - be0e0e83-f438-45ea-ad76-fb1a9a61415c
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/customers/cus_test_cl6ZAk4e6pqd6Cxa
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_cl6ZAk4e6pqd6Cxa","creation_date":1615073254000,"email":"richardf7e3@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"cards":[],"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138374"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bydsEGt8IAMFRog=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:27:34 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - f53adaee-310f-4592-867a-3ea470d9e1c8
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/customers/cus_test_ZeBkfmealj1BsVnO
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_ZeBkfmealj1BsVnO","creation_date":1615121666000,"email":"richardd086@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"cards":[],"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141024"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0T4eHNfoAMF7nw=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 12:54:26 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 16e5f3d4-9277-43d3-9300-6182d567d953
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/customers/cus_test_CzYyqzobTakF6CM2
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_CzYyqzobTakF6CM2","creation_date":1615123653000,"email":"richardef1c@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"cards":[],"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141325"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0Yu7HhNIAMFXYw=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 13:27:33 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - ecfea8c2-2ced-4001-b874-437db13ff3ac
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/customers/cus_test_LJU5s3JWleLwaEjt
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_LJU5s3JWleLwaEjt","creation_date":1615129644000,"email":"richarde227@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"cards":[],"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141970"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0nXCHENoAMF8Xw=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:07:24 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 7e953662-6e9b-44f1-8884-8466507122b0
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/customers/cus_test_RO9yromND5eNNwKG
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_RO9yromND5eNNwKG","creation_date":1615131756000,"email":"richardc1e4@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"cards":[],"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142324"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0shCHtUIAMFifQ=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:42:36 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 2732518a-8ade-499f-b3ef-0080577f6604
      status:
        code: 200
        message: OK
version: 1
