interactions:
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richardbc10@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_7dlvwTMmjsHvw6fy","creation_date":1589341088981,"email":"richardbc10@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3BHGtPoAMFfFQ=
        x-amzn-RequestId:
          - 8997ebf6-7719-45bb-bce6-3868bfb47989
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892527"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/customers/cus_test_7dlvwTMmjsHvw6fy
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_7dlvwTMmjsHvw6fy","creation_date":1589341088000,"email":"richardbc10@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{"order_id":"0001"}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892528"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3BREY0IAMF2kA=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:09 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 3d6b984c-ee4a-4fa2-98eb-d6484664bbd5
      status:
        code: 200
        message: OK
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard91ad@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_pEssVGU3fYV2OZ0T","creation_date":1615072221936,"email":"richard91ad@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137680"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybKqFf1oAMFmAA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:21 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - e9017da3-bf03-485a-946f-a8fbb4137499
      status:
        code: 201
        message: Created
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/customers/cus_test_pEssVGU3fYV2OZ0T
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_pEssVGU3fYV2OZ0T","creation_date":1615072221000,"email":"richard91ad@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{"order_id":"0001"}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137681"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybKvHhhIAMFUDQ=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:22 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 8898e515-a894-4502-85c2-6378e5cf0a0a
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/customers/cus_test_71IJbjMoulHUkRCa
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_71IJbjMoulHUkRCa","creation_date":1615072560000,"email":"richard6688@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{"order_id":"0001"}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137903"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byb_sGfgoAMFydw=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:16:01 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - a2beca08-b2ce-4f90-b3d3-d38f125453d7
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/customers/cus_test_rhQ9VNCFPIahcdlV
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_rhQ9VNCFPIahcdlV","creation_date":1615072909000,"email":"richardbac7@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{"order_id":"0001"}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138158"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byc2FEKWoAMF2Kw=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:21:48 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - ec26d6e9-cad3-45c9-a9d9-9032e5a134dc
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/customers/cus_test_mhG6tdatBmSlEjrV
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_mhG6tdatBmSlEjrV","creation_date":1615073255000,"email":"richard4f39@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{"order_id":"0001"}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138376"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bydsTESiIAMFcoA=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:27:35 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - c41aba52-d419-40e6-b42c-46c9dc4718be
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/customers/cus_test_hCVKjYQVoZIV4nYl
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_hCVKjYQVoZIV4nYl","creation_date":1615121667000,"email":"richard74cf@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{"order_id":"0001"}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141026"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0T4rGViIAMFwFw=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 12:54:28 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 772d6e35-6a10-4d16-8e06-bf3e1386827f
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/customers/cus_test_cb5ZCaXNRc8dQQIg
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_cb5ZCaXNRc8dQQIg","creation_date":1615123654000,"email":"richardc35d@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{"order_id":"0001"}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141327"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0YvKFfLIAMF42A=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 13:27:35 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - e5263c83-f978-4f08-881d-935024009f1d
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/customers/cus_test_n1PiPsI2omItOaSf
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_n1PiPsI2omItOaSf","creation_date":1615129645000,"email":"richardaf0a@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{"order_id":"0001"}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141972"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0nXRGoQIAMFvUg=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:07:26 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 9e6c30e5-79a9-495e-99b7-0903cece3e4e
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/customers/cus_test_HdcxenqoHgdP0jwU
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_HdcxenqoHgdP0jwU","creation_date":1615131758000,"email":"richard88bf@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{"order_id":"0001"}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142326"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0shUEuToAMFpWA=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:42:38 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - edee6e77-1b31-4456-8938-bd83719ad1fb
      status:
        code: 200
        message: OK
version: 1
