interactions:
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard0f42@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_AHIurXnmXIz2ZSZ6","creation_date":1589341083862,"email":"richard0f42@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3AVGSvoAMFvTA=
        x-amzn-RequestId:
          - f8ac5230-dad4-4bb0-ab0a-203ad5b666c9
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892522"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/customers/cus_test_AHIurXnmXIz2ZSZ6
    response:
      body:
        string:
          "{\"id\":\"cus_test_AHIurXnmXIz2ZSZ6\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el cliente con ID cus_test_AHIurXnmXIz2ZSZ6 exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892523"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3AeGMIoAMF_zQ=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:04 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 59b430fb-c12b-4dd7-abad-cee4501945f1
      status:
        code: 200
        message: OK
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard7e44@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_WY7fYEr8tSm2rLZR","creation_date":1615072215377,"email":"richard7e44@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137675"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybJoER9IAMFToA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:15 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - e4185bb5-bf59-4ae2-b30d-1e81f735be86
      status:
        code: 201
        message: Created
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/customers/cus_test_WY7fYEr8tSm2rLZR
    response:
      body:
        string:
          "{\"id\":\"cus_test_WY7fYEr8tSm2rLZR\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el cliente con ID cus_test_WY7fYEr8tSm2rLZR exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137676"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybJwH1eoAMF8Xw=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:16 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 2d124cca-6a1e-43da-b6ca-4cb84b975545
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/customers/cus_test_jULYHW2p20sFpIfp
    response:
      body:
        string:
          "{\"id\":\"cus_test_jULYHW2p20sFpIfp\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el cliente con ID cus_test_jULYHW2p20sFpIfp exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137898"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byb-9Hl2oAMFSfQ=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:15:57 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 8ac49b22-3fcf-48c9-b3a6-d0ab09aba882
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/customers/cus_test_GfOZp4cDQRlwcf7r
    response:
      body:
        string:
          "{\"id\":\"cus_test_GfOZp4cDQRlwcf7r\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el cliente con ID cus_test_GfOZp4cDQRlwcf7r exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138153"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byc1WHtVIAMFpRA=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:21:44 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 7d5e447e-6252-459d-955f-e538716f17e7
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/customers/cus_test_OUKkHP8RdfyD3GV0
    response:
      body:
        string:
          "{\"id\":\"cus_test_OUKkHP8RdfyD3GV0\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el cliente con ID cus_test_OUKkHP8RdfyD3GV0 exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138371"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bydrdFrloAMFrcQ=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:27:30 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 18a134f8-7be2-4573-a143-b4a0a4f5e06f
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/customers/cus_test_eqZt6GzhF0Zvdl4z
    response:
      body:
        string:
          "{\"id\":\"cus_test_eqZt6GzhF0Zvdl4z\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el cliente con ID cus_test_eqZt6GzhF0Zvdl4z exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141021"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0T35FjnoAMFikQ=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 12:54:23 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 7d69fc93-6c77-4f7f-8d34-c6e8e8cf361a
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/customers/cus_test_L81LYz4sGXls2QiM
    response:
      body:
        string:
          "{\"id\":\"cus_test_L81LYz4sGXls2QiM\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el cliente con ID cus_test_L81LYz4sGXls2QiM exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141322"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0YuaHbSoAMFmpQ=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 13:27:30 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - a76aabcf-da09-4f18-9e5c-11bb05925ff7
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/customers/cus_test_0RjHClC8DWvRXTRQ
    response:
      body:
        string:
          "{\"id\":\"cus_test_0RjHClC8DWvRXTRQ\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el cliente con ID cus_test_0RjHClC8DWvRXTRQ exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141967"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0nWVF7yIAMFnMg=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:07:21 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 4c4761e4-4614-478d-b266-fe0077ee5ba4
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/customers/cus_test_XDCyPbHe8JpJL5Kk
    response:
      body:
        string:
          "{\"id\":\"cus_test_XDCyPbHe8JpJL5Kk\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el cliente con ID cus_test_XDCyPbHe8JpJL5Kk exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142321"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0sgdGifoAMF-hQ=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:42:33 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - e0765d63-40bb-4526-ad85-1fbb918953d3
      status:
        code: 200
        message: OK
version: 1
