interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          "{\"data\":[{\"object\":\"customer\",\"id\":\"cus_test_16YD9q01NcG7Qr9K\",\"creation_date\":1589341083000,\"email\":\"richard1b0e@piedpiper.com\",\"antifraud_details\":{\"first_name\":\"Richard\",\"last_name\":\"Piedpiper\",\"address\":\"Avenida
          Lima 123213\",\"address_city\":\"LIMA\",\"country_code\":\"PE\",\"phone\":\"+51998989789\",\"object\":\"client\"},\"cards\":[],\"metadata\":{}},{\"object\":\"customer\",\"id\":\"cus_test_XekAHlkhtWfYheCw\",\"creation_date\":1589341040000,\"email\":\"richard1e62@piedpiper.com\",\"antifraud_details\":{\"first_name\":\"Richard\",\"last_name\":\"Piedpiper\",\"address\":\"Avenida
          Lima 123213\",\"address_city\":\"LIMA\",\"country_code\":\"PE\",\"phone\":\"+51998989789\",\"object\":\"client\"},\"cards\":[{\"object\":\"card\",\"id\":\"crd_test_rtfc5bBu8UNavJEy\",\"active\":true,\"creation_date\":1589341045000,\"customer_id\":\"cus_test_XekAHlkhtWfYheCw\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_I73bxz74EgKKmShf\",\"type\":\"card\",\"creation_date\":1589341039000,\"email\":\"richard1e62@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"order_id\":\"0001\"}}],\"metadata\":{}},{\"object\":\"customer\",\"id\":\"cus_test_fIrnn6GRZXUvacF5\",\"creation_date\":1589341031000,\"email\":\"richard2a35@piedpiper.com\",\"antifraud_details\":{\"first_name\":\"Richard\",\"last_name\":\"Piedpiper\",\"address\":\"Avenida
          Lima 123213\",\"address_city\":\"LIMA\",\"country_code\":\"PE\",\"phone\":\"+51998989789\",\"object\":\"client\"},\"cards\":[{\"object\":\"card\",\"id\":\"crd_test_bbUJQnWpeGLEDc0k\",\"active\":true,\"creation_date\":1589341037[...]
[...]
