interactions:
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "description": "Venta de prueba",
        "order_number": "order-451e", "client_details": {"first_name": "Richard", "last_name":
        "Piedpiper", "email": "richard@piedpiper.com", "phone_number": "+51998989789"},
        "expiration_date": 1893474000, "confirm": false}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_OF3Qbze6qhuaKMVd","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-451e","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1589341098,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892539"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3CoE2aoAMF0Sw=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:18 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 0e26664b-d585-4301-bba3-db547a10d3f7
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders/ord_test_OF3Qbze6qhuaKMVd
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_OF3Qbze6qhuaKMVd","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-451e","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1589341098,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892540"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3CvGtwIAMFneQ=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:18 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - aa9e5db2-d05e-426d-8eb9-ad10b29e38d9
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders/ord_test_OmqsYQpJ2T5RIalL
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_OmqsYQpJ2T5RIalL","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-9047","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615072229,"expiration_date":1893474000,"updated_at":1615072229,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137689"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybL2Hk5oAMFecQ=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:29 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - cd0a8226-1f14-400e-8d1f-1f030d4d0289
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders/ord_test_UZnB9yj2Tijc6aDU
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_UZnB9yj2Tijc6aDU","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-52ce","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615072568,"expiration_date":1893474000,"updated_at":1615072568,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137911"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bycA7HBaoAMF5yA=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:16:08 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 9777cae2-a489-4a1b-a847-9d71dc9bc77f
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders/ord_test_q79qjRY81LkEujrQ
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_q79qjRY81LkEujrQ","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-6b5b","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615072915,"expiration_date":1893474000,"updated_at":1615072915,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138166"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byc3FHGxoAMFX9w=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:21:54 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - a64d770a-df8e-4125-8135-e25dde8abe5a
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders/ord_test_aNMXGWyeS3xsQFWB
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_aNMXGWyeS3xsQFWB","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-5d1d","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615073262,"expiration_date":1893474000,"updated_at":1615073262,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138384"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bydtXGXXIAMFwFw=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:27:42 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 729ce556-4bb2-4526-9824-64b91ead395d
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders/ord_test_vwhrkKq6mzWogIZb
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_vwhrkKq6mzWogIZb","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-01ff","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615121674,"expiration_date":1893474000,"updated_at":1615121674,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141034"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0T50Gs-oAMF1cQ=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 12:54:34 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 33ee7799-8ed1-42d1-a5db-1c8b24606683
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders/ord_test_ZbraoWT6bJ8cXDrG
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_ZbraoWT6bJ8cXDrG","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-30b1","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615123660,"expiration_date":1893474000,"updated_at":1615123660,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141335"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0YwIEq_oAMFiLA=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 13:27:41 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 69679039-0bb1-4fc6-a799-2f01ccbef484
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders/ord_test_k5nlLxBiho3Hf4Dy
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_k5nlLxBiho3Hf4Dy","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-60ae","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615129651,"expiration_date":1893474000,"updated_at":1615129651,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141980"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0nYIFQzIAMFzhA=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:07:31 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 3d25d0b8-15f7-4efa-a427-9ced0dd698eb
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders/ord_test_W5u4ypXsguscPKWH
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_W5u4ypXsguscPKWH","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-2f38","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615131765,"expiration_date":1893474000,"updated_at":1615131765,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142337"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0sieHaloAMFe6w=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:42:45 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 8d4c8e06-84fa-4ac2-97c1-a575c81d2742
      status:
        code: 200
        message: OK
version: 1
