interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders
    response:
      body:
        string:
          "{\"data\":[{\"object\":\"order\",\"id\":\"ord_test_HmJZjESwPWIEo4wz\",\"amount\":1000,\"payment_code\":null,\"currency_code\":\"PEN\",\"description\":\"Venta
          de prueba\",\"order_number\":\"order-a28f\",\"state\":\"created\",\"total_fee\":null,\"net_amount\":null,\"fee_details\":null,\"creation_date\":1589341093,\"expiration_date\":1893474000,\"updated_at\":null,\"paid_at\":null,\"available_on\":null,\"metadata\":{}},{\"object\":\"order\",\"id\":\"ord_test_SUscNJsTOs2POVQU\",\"amount\":1000,\"payment_code\":\"087654332\",\"currency_code\":\"PEN\",\"description\":\"Venta
          de prueba\",\"order_number\":\"order-7d20\",\"state\":\"pending\",\"total_fee\":null,\"net_amount\":null,\"fee_details\":null,\"creation_date\":1589341092,\"expiration_date\":1893474000,\"updated_at\":null,\"paid_at\":null,\"available_on\":null,\"metadata\":{}},{\"object\":\"order\",\"id\":\"ord_test_btd2UdkeWdaj3Aha\",\"amount\":1000,\"payment_code\":null,\"currency_code\":\"PEN\",\"description\":\"Venta
          de prueba\",\"order_number\":\"order-1320\",\"state\":\"created\",\"total_fee\":null,\"net_amount\":null,\"fee_details\":null,\"creation_date\":1589340580,\"expiration_date\":1893474000,\"updated_at\":null,\"paid_at\":null,\"available_on\":null,\"metadata\":{\"order_id\":\"0001\"}},{\"object\":\"order\",\"id\":\"ord_test_DpywGwy8V5H28cHl\",\"amount\":1000,\"payment_code\":null,\"currency_code\":\"PEN\",\"description\":\"Venta
          de prueba\",\"order_number\":\"order-7c97\",\"state\":\"created\",\"total_fee\":null,\"net_amount\":null,\"fee_details\":null,\"creation_date\":1589340579,\"expiration_date\":1893474000,\"updated_at\":null,\"paid_at\":null,\"available_on\":null,\"metadata\":{}},{\"object\":\"order\",\"id\":\"ord_test_4FDlbCPWRCA6bvGX\",\"amount\":[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders
    response:
      body:
        string:
          '{"data":[{"object":"order","id":"ord_test_6Yd2IRZIpo2V5YAh","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-e0ea","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615072227,"expiration_date":1893474000,"updated_at":1615072227,"paid_at":null,"available_on":null,"metadata":{}},{"object":"order","id":"ord_test_xaMXjNOJJiKwDNx8","amount":1000,"payment_code":"092246654","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-81be","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615072226,"expiration_date":1893474000,"updated_at":1615072226,"paid_at":null,"available_on":null,"metadata":{}}],"paging":{"previous":"https://api.culqi.com/v2/orders?limit=50&before=ord_test_6Yd2IRZIpo2V5YAh","next":"https://api.culqi.com/v2/orders?limit=50&after=ord_test_xaMXjNOJJiKwDNx8","cursors":{"before":"ord_test_6Yd2IRZIpo2V5YAh","after":"ord_test_xaMXjNOJJiKwDNx8"},"remaining_items":0}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137687"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybLqGm8oAMFTVg=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:27 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 7b3185b8-a938-40fd-8c1f-841b60b506ab
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/orders
    response:
      body:
        string:
          '{"data":[{"object":"order","id":"ord_test_MyGj2yfMByamx7n9","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-ef14","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615129650,"expiration_date":1893474000,"updated_at":1615129650,"paid_at":null,"available_on":null,"metadata":{}},{"object":"order","id":"ord_test_j64eh62vA1EFfwSX","amount":1000,"payment_code":"022141694","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-8e6e","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615129648,"expiration_date":1893474000,"updated_at":1615129649,"paid_at":null,"available_on":null,"metadata":{}},{"object":"order","id":"ord_test_2Ptz5vvATH5hMAEi","amount":1000,"payment_code":"057259016","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-43af","state":"deleted","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615129162,"expiration_date":1893474000,"updated_at":1615129165,"paid_at":null,"available_on":null,"metadata":{"orderId":"1234567890"}},{"object":"order","id":"ord_test_4g3abtr0cX8uh87r","amount":1000,"payment_code":"068236959","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-f6dc","state":"deleted","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615128035,"expiration_date":1893474000,"updated_at":1615128037,"paid_at":null,"available_on":null,"metadata":{"orderId":"1234567890"}},{"object":"order","id":"ord_test_oElyVah3ymVmQt6x","amount":1000,"payment_cod[...]
[...]
