interactions:
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "description": "Venta de prueba",
        "order_number": "order-7d20", "client_details": {"first_name": "Richard", "last_name":
        "Piedpiper", "email": "richard@piedpiper.com", "phone_number": "+51998989789"},
        "expiration_date": 1893474000, "confirm": false}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_SUscNJsTOs2POVQU","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-7d20","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1589341092,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892531"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3BoGUbIAMFfGw=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:11 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 6e2f82ca-4a64-4948-8f47-a98b6addfdae
      status:
        code: 201
        message: Created
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders/ord_test_SUscNJsTOs2POVQU/confirm
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_SUscNJsTOs2POVQU","amount":1000,"payment_code":"087654332","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-7d20","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1589341092,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892532"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3BvHqKoAMFvIQ=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:12 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - e9443c71-70a3-4292-bb5d-c0731a05cd66
      status:
        code: 201
        message: Created
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders/ord_test_xaMXjNOJJiKwDNx8/confirm
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_xaMXjNOJJiKwDNx8","amount":1000,"payment_code":"092246654","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-81be","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615072226,"expiration_date":1893474000,"updated_at":1615072226,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137685"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybLbHqloAMFpNQ=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:26 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - ca818f47-91a1-4ae9-8196-01f4de1d162e
      status:
        code: 201
        message: Created
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders/ord_test_KKNEBBORCBweGDfh/confirm
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_KKNEBBORCBweGDfh","amount":1000,"payment_code":"024276221","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-8989","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615072564,"expiration_date":1893474000,"updated_at":1615072564,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137907"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bycASGASIAMFoag=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:16:05 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - f809c56e-74a0-4fe3-9c58-477f5693d836
      status:
        code: 201
        message: Created
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders/ord_test_6tcOIbgHdcSpqiZ4/confirm
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_6tcOIbgHdcSpqiZ4","amount":1000,"payment_code":"044779147","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-4fd4","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615072911,"expiration_date":1893474000,"updated_at":1615072911,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138162"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byc2jHO0IAMFiNA=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:21:52 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 8b5d84d3-0ff0-46df-b5b0-c52f3422836a
      status:
        code: 201
        message: Created
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders/ord_test_HfS2N1iXpUrOkF0n/confirm
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_HfS2N1iXpUrOkF0n","amount":1000,"payment_code":"024491699","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-366f","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615073259,"expiration_date":1893474000,"updated_at":1615073259,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138380"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byds3E6moAMFeVg=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:27:40 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 62038c96-fe39-40f4-863a-1683e79fda61
      status:
        code: 201
        message: Created
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders/ord_test_wk26CRIAAmF4x9oM/confirm
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_wk26CRIAAmF4x9oM","amount":1000,"payment_code":"066524279","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-355f","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615121672,"expiration_date":1893474000,"updated_at":1615121672,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141030"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0T5WGfHIAMFlzw=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 12:54:32 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - db6a3c6a-3842-490b-b41c-1c2e914262e9
      status:
        code: 201
        message: Created
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders/ord_test_ujTlPeI7p33QJUnp/confirm
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_ujTlPeI7p33QJUnp","amount":1000,"payment_code":"028628287","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-762d","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615123658,"expiration_date":1893474000,"updated_at":1615123658,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141331"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0YvsEuHoAMFiGw=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 13:27:39 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - f81b1493-f651-4642-be80-2a040af7d658
      status:
        code: 201
        message: Created
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders/ord_test_j64eh62vA1EFfwSX/confirm
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_j64eh62vA1EFfwSX","amount":1000,"payment_code":"022141694","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-8e6e","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615129648,"expiration_date":1893474000,"updated_at":1615129648,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141976"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0nXrHD6IAMFoyg=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:07:29 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 8ca1a952-e555-4b99-8bc4-684cf33a9b81
      status:
        code: 201
        message: Created
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/orders/ord_test_bWwS9sB9fyUvfrrv/confirm
    response:
      body:
        string:
          '{"object":"order","id":"ord_test_bWwS9sB9fyUvfrrv","amount":1000,"payment_code":"030393402","currency_code":"PEN","description":"Venta
          de prueba","order_number":"order-b6a1","state":"pending","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615131761,"expiration_date":1893474000,"updated_at":1615131761,"paid_at":null,"available_on":null,"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142331"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0shxF1JoAMF1dw=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:42:41 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - e86ef4e0-02d7-4fc9-8894-b215e8341bbc
      status:
        code: 201
        message: Created
version: 1
