interactions:
- request:
    body: '{"amount": 1000, "currency_code": "PEN", "description": "Venta de prueba",
      "order_number": "order-a39b", "client_details": {"first_name": "Richard", "last_name":
      "Piedpiper", "email": "richard@piedpiper.com", "phone_number": "+51998989789"},
      "expiration_date": 1893474000, "confirm": false}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/orders
  response:
    body:
      string: '{"object":"order","id":"ord_test_mpgi4pJYVcpPljv6","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-a39b","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615131475,"expiration_date":1893474000,"updated_at":1615131475,"paid_at":null,"available_on":null,"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10142124'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0r0-H3qIAMF5yA=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:37:55 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - edc9177b-db85-4644-9aa4-d13be4888cf8
    status:
      code: 201
      message: Created
- request:
    body: 'null'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: DELETE
    uri: https://api.culqi.com/v2/orders/ord_test_mpgi4pJYVcpPljv6
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10142125'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0r1FFbmIAMFoPw=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:37:55 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 7551ef6c-bd34-44c4-a340-b33c95c3cfe1
    status:
      code: 204
      message: No Content
[...]
- request:
    body: 'null'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: DELETE
    uri: https://api.culqi.com/v2/orders/ord_test_dp36tlWvKVR8yfqj
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10142334'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0siGFV-oAMFvUg=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:42:43 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 8d7df469-f183-4bbd-b2c8-5eee2fc8a317
    status:
      code: 204
      message: No Content
version: 1
