interactions:
- request:
    body: '{"amount": 1000, "currency_code": "PEN", "description": "Venta de prueba",
      "order_number": "order-a31e", "client_details": {"first_name": "Richard", "last_name":
      "Piedpiper", "email": "richard@piedpiper.com", "phone_number": "+51998989789"},
      "expiration_date": 1893474000, "confirm": false}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/orders
  response:
    body:
      string: '{"object":"order","id":"ord_test_SV8budmcKCGPARaX","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-a31e","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1589341099,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '6892541'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - Mc3C1GmxIAMFkwg=
      x-amzn-Remapped-Date:
      - Wed, 13 May 2020 03:38:19 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 76dbd1f9-16f2-45e9-a21c-c77b0176c8d9
    status:
      code: 201
      message: Created
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/orders/ord_test_SV8budmcKCGPARaX
  response:
    body:
      string: '{"object":"order","id":"ord_test_SV8budmcKCGPARaX","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-a31e","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1589341099,"expiration_date":1893474000,"updated_at":null,"paid_at":null,"available_on":null,"metadata":{"order_id":"0001"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '6892542'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - Mc3C8GRXoAMFfwQ=
      x-amzn-Remapped-Date:
      - Wed, 13 May 2020 03:38:19 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 72a770e5-9871-4e09-81eb-cda34f95ce63
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/orders/ord_test_UalALZtnouIA6J8j
  response:
    body:
      string: '{"object":"order","id":"ord_test_UalALZtnouIA6J8j","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-a806","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615072230,"expiration_date":1893474000,"updated_at":1615072230,"paid_at":null,"available_on":null,"metadata":{"order_id":"0001"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137691'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bybMCEG5oAMF67w=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:10:30 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 9e370c24-c304-4597-ba4b-557a020513fe
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/orders/ord_test_JbJEG0OxZxfI5U1p
  response:
    body:
      string: '{"object":"order","id":"ord_test_JbJEG0OxZxfI5U1p","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-0956","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615072569,"expiration_date":1893474000,"updated_at":1615072569,"paid_at":null,"available_on":null,"metadata":{"order_id":"0001"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137913'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bycBJFGyIAMFeqg=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:16:09 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - af2835a4-fddc-46c8-adc6-7ce899c1f876
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/orders/ord_test_eewaJeESxZfvLsl9
  response:
    body:
      string: '{"object":"order","id":"ord_test_eewaJeESxZfvLsl9","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-50f9","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615072916,"expiration_date":1893474000,"updated_at":1615072916,"paid_at":null,"available_on":null,"metadata":{"order_id":"0001"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10138168'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - byc3SE7ZoAMFncg=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:21:56 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 2da4d917-e89d-4b5e-b214-cb2dc8e3b177
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/orders/ord_test_Q01FFOTOG4pUQsJi
  response:
    body:
      string: '{"object":"order","id":"ord_test_Q01FFOTOG4pUQsJi","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-7d2a","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615073264,"expiration_date":1893474000,"updated_at":1615073264,"paid_at":null,"available_on":null,"metadata":{"order_id":"0001"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10138386'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bydtqHDqoAMFe1Q=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:27:45 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 3204092c-31cb-4424-9121-391f7963dcb2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/orders/ord_test_ozJPSfPRykiVRBd5
  response:
    body:
      string: '{"object":"order","id":"ord_test_ozJPSfPRykiVRBd5","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-b01f","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615121676,"expiration_date":1893474000,"updated_at":1615121676,"paid_at":null,"available_on":null,"metadata":{"order_id":"0001"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10141036'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0T5_HoMoAMFXtQ=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 12:54:36 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 105e4673-7cee-4ce2-a8fd-938014eefa82
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/orders/ord_test_RR1Qby10bVuPDNXz
  response:
    body:
      string: '{"object":"order","id":"ord_test_RR1Qby10bVuPDNXz","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-c3d2","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615123662,"expiration_date":1893474000,"updated_at":1615123662,"paid_at":null,"available_on":null,"metadata":{"order_id":"0001"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10141337'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0YwVF5ToAMFe-g=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 13:27:43 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - e9b108b8-72bf-4074-bc99-efe595367b15
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/orders/ord_test_YydCzRZUgEOgcnIU
  response:
    body:
      string: '{"object":"order","id":"ord_test_YydCzRZUgEOgcnIU","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-0688","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615129652,"expiration_date":1893474000,"updated_at":1615129652,"paid_at":null,"available_on":null,"metadata":{"order_id":"0001"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10141982'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0nYWEMQIAMFZUQ=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:07:33 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 15a66897-b26c-428b-8bdd-51f8a8dc68bc
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/orders/ord_test_Zw83RKBe3D9tlP8k
  response:
    body:
      string: '{"object":"order","id":"ord_test_Zw83RKBe3D9tlP8k","amount":1000,"payment_code":null,"currency_code":"PEN","description":"Venta
        de prueba","order_number":"order-cfdd","state":"created","total_fee":null,"net_amount":null,"fee_details":null,"creation_date":1615131766,"expiration_date":1893474000,"updated_at":1615131766,"paid_at":null,"available_on":null,"metadata":{"order_id":"0001"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10142339'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0sipFhGIAMFvRA=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:42:46 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - e2346b43-96b8-43b0-ac6e-7658910228f8
    status:
      code: 200
      message: OK
version: 1
