interactions:
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-2eba", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_RMr3N2Zaz5nhBShD\",\"creation_date\":1589341104000,\"name\":\"plan-2eba\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3DmFmYIAMFwQw=
        x-amzn-RequestId:
          - c53fa4f1-f16c-42cf-9a05-78e6125c9da6
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892547"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/plans/pln_test_RMr3N2Zaz5nhBShD
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_RMr3N2Zaz5nhBShD\",\"creation_date\":1589341104000,\"name\":\"plan-2eba\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892549"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3DrGI8oAMFbiA=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:25 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - b309a59f-9678-4846-9714-4dc73b4ca69b
      status:
        code: 200
        message: OK
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-9265", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_NvU5tAskXFmfUiZl\",\"creation_date\":1615072237000,\"name\":\"plan-9265\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137696"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybNBEikIAMF9og=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:37 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 89cece51-dfe1-43d5-ae5c-901ba051f703
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/plans/pln_test_NvU5tAskXFmfUiZl
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_NvU5tAskXFmfUiZl\",\"creation_date\":1615072237000,\"name\":\"plan-9265\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137697"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybNHE61IAMFdFA=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:37 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - ad954c21-5cb1-4de3-9ac7-c9eef84af9d3
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/plans/pln_test_84tmKv1UfYKWUyKk
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_84tmKv1UfYKWUyKk\",\"creation_date\":1615072574000,\"name\":\"plan-cc15\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137919"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bycB5GfFoAMFcHQ=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:16:15 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - fc2ef0df-548f-4e59-a602-61492a5bc2cb
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/plans/pln_test_w1XYXx6CN9QJAM47
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_w1XYXx6CN9QJAM47\",\"creation_date\":1615072921000,\"name\":\"plan-d8a5\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138174"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byc4EGLzIAMFxCg=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:22:01 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 353cba74-7a8f-41b0-9efb-36c1578690be
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/plans/pln_test_bNJGH5xn3tlX3ASe
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_bNJGH5xn3tlX3ASe\",\"creation_date\":1615073269000,\"name\":\"plan-2ad2\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138392"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bydugHPdoAMF7Lg=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:27:50 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 7b281b85-0d33-4eb6-b372-524581715e84
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/plans/pln_test_BG1ossRFlXhbVjEd
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_BG1ossRFlXhbVjEd\",\"creation_date\":1615121680000,\"name\":\"plan-3b57\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141042"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0T6tHzFIAMFayQ=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 12:54:40 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - a0e96ece-8237-43f2-9b36-b715985ffd78
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/plans/pln_test_gxcZI1j5LL7FrGaw
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_gxcZI1j5LL7FrGaw\",\"creation_date\":1615123666000,\"name\":\"plan-ef2d\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141343"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0YxCF17oAMF6IA=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 13:27:47 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - ac68cac9-a6a4-4be4-bb5d-b7e6531ea21a
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/plans/pln_test_Mv3kAnowdkv8ETXH
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_Mv3kAnowdkv8ETXH\",\"creation_date\":1615129657000,\"name\":\"plan-35e3\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141988"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0nZIHkFIAMFgQA=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:07:38 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 50aca304-1036-4b99-a7da-91596d9a4101
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/plans/pln_test_7NEp6DLfwRi36Pr1
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_7NEp6DLfwRi36Pr1\",\"creation_date\":1615131771000,\"name\":\"plan-b2be\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142345"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0sjZEthoAMFqmA=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:42:51 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 9469693e-595c-4e68-baa6-1137833174c7
      status:
        code: 200
        message: OK
version: 1
