interactions:
- request:
    body: '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
      2, "limit": 10, "name": "plan-9aee", "trial_days": 30}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_7qbr3lCevQiccFY9\",\"creation_date\":1589341106000,\"name\":\"plan-9aee\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc3DyH1NoAMFWYw=
      x-amzn-RequestId:
      - 75b7011a-786a-48b8-8d8a-83bd88df3230
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892550'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/plans/pln_test_7qbr3lCevQiccFY9
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_7qbr3lCevQiccFY9\",\"creation_date\":1589341106000,\"name\":\"plan-9aee\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '6892551'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - Mc3D6GNyIAMF1WA=
      x-amzn-Remapped-Date:
      - Wed, 13 May 2020 03:38:26 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - e9458d28-0735-4c0f-813c-7773cda07d76
    status:
      code: 200
      message: OK
- request:
    body: '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
      2, "limit": 10, "name": "plan-a892", "trial_days": 30}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/plans
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_clWQFUK1ubkwZc3r\",\"creation_date\":1615072238000,\"name\":\"plan-a892\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137698'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bybNNGGWIAMFqYw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:10:38 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - af5aaa22-30fd-4332-bc59-d65ac8513702
    status:
      code: 201
      message: Created
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/plans/pln_test_clWQFUK1ubkwZc3r
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_clWQFUK1ubkwZc3r\",\"creation_date\":1615072238000,\"name\":\"plan-a892\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137699'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bybNWEIWIAMF0Ww=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:10:39 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 50fdc368-fa16-4501-824c-f5630dbf8cb3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/plans/pln_test_GWRknzwknGB8DdbI
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_GWRknzwknGB8DdbI\",\"creation_date\":1615072576000,\"name\":\"plan-a293\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137922'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bycCIEMPIAMFwng=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:16:16 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 95529ad8-3dee-4af8-a87f-2800597f37ca
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/plans/pln_test_Cg6y2ec8oyMsltmI
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_Cg6y2ec8oyMsltmI\",\"creation_date\":1615072923000,\"name\":\"plan-f51c\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10138176'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - byc4aGLuoAMFuBQ=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:22:04 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 34ba9ab0-d165-4a75-ac09-8c9c18ce609e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/plans/pln_test_9TX18vE9DYOT4ZLq
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_9TX18vE9DYOT4ZLq\",\"creation_date\":1615073271000,\"name\":\"plan-5dfa\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10138394'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bydusGPZoAMFR7A=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:27:51 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 043dee27-c8d9-4b73-8acf-8f9e4e18fb3a
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/plans/pln_test_zvYSdDEtP12BFDMP
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_zvYSdDEtP12BFDMP\",\"creation_date\":1615121682000,\"name\":\"plan-e76c\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10141044'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0T65HgtoAMFs8g=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 12:54:42 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - acbdff62-b095-4cdb-91d4-55cda05de0b8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/plans/pln_test_Sbxa3TKKnnS5JYsL
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_Sbxa3TKKnnS5JYsL\",\"creation_date\":1615123668000,\"name\":\"plan-b5cf\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10141345'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0YxREPmIAMF-qw=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 13:27:48 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 97eae2d4-d1d5-4e9a-80fb-a38edf5ea2dc
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/plans/pln_test_o7WEhxpvcqxVs3Ey
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_o7WEhxpvcqxVs3Ey\",\"creation_date\":1615129659000,\"name\":\"plan-338e\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10141990'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0nZVHZEIAMFvcg=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:07:39 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - abc0b49d-0344-452c-9470-3207ee26c9d2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/plans/pln_test_CYf59VFuP0AvYnr8
  response:
    body:
      string: "{\"object\":\"plan\",\"id\":\"pln_test_CYf59VFuP0AvYnr8\",\"creation_date\":1615131773000,\"name\":\"plan-e99e\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10142347'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0sjpG2bIAMFRog=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:42:53 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - cd0b1903-8f39-4297-8ff7-9de49556f8b9
    status:
      code: 200
      message: OK
version: 1
