interactions:
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-4d87", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_tgA2xeGwyydI8sKS\",\"creation_date\":1589341101000,\"name\":\"plan-4d87\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3DDH58IAMFXow=
        x-amzn-RequestId:
          - 908cae72-e593-43e3-aa30-eade97333bdd
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892543"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-befe", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_Zp8Oyr0K9oF0VWjw\",\"creation_date\":1615072231000,\"name\":\"plan-befe\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137692"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybMLGkEoAMFbUA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:31 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 5b4aec20-4d7f-4e82-8d52-2e570edf1839
      status:
        code: 201
        message: Created
[...]
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-9539", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_72VwphsyAEOM3E4v\",\"creation_date\":1615131768000,\"name\":\"plan-9539\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142340"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0siwH-aoAMFVmA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:42:48 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 33e18e0e-1d7a-46b1-910e-657bd0f6d3e2
      status:
        code: 201
        message: Created
version: 1
