interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/plans
  response:
    body:
      string: "{\"data\":[{\"object\":\"plan\",\"id\":\"pln_test_tgA2xeGwyydI8sKS\",\"creation_date\":1589341101000,\"name\":\"plan-4d87\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\":\"plan\",\"id\":\"pln_test_G8W62A3r8AwcVDjT\",\"creation_date\":1589340646000,\"name\":\"plan-7377\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\":\"plan\",\"id\":\"pln_test_IwTTToJqoLfb2x0a\",\"creation_date\":1589340640000,\"name\":\"plan-b247\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\":\"plan\",\"id\":\"pln_test_fd134FHOVuQKLtUW\",\"creation_date\":1589340635000,\"name\":\"plan-3a3a\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\":\"plan\",\"id\":\"pln_test_n73WXuaGfQlGkve8\",\"creation_date\":1589340629000,\"name\":\"plan-3a2f\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\":\"plan\",\"id\":\"pln_test_WTUP7M1pYZo9INpB\",\"creation_date\":1589340598000,\"name\":\"plan-2318\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{\"order_id\":\"0001\"}},{\"object\":\"plan\",\"id\":\"pln_test_dSqEGNhXlUCPYzQH\",\"creation_date\":1589340590000,\"name\":\"plan-9d35\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}},{\"object\":\"plan\",\"id\":\"pln_test_L2YWnvztMZ1V4SSz\",\"creation_date\":1589340581000,\"name\":\"plan-9300\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/plans
  response:
    body:
      string: "{\"data\":[{\"object\":\"plan\",\"id\":\"pln_test_Zp8Oyr0K9oF0VWjw\",\"creation_date\":1615072231000,\"name\":\"plan-befe\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}],\"paging\":{\"previous\":\"https://api.culqi.com/v2/plans?limit=50&before=pln_test_Zp8Oyr0K9oF0VWjw\",\"next\":\"https://api.culqi.com/v2/plans?limit=50&after=pln_test_Zp8Oyr0K9oF0VWjw\",\"cursors\":{\"before\":\"pln_test_Zp8Oyr0K9oF0VWjw\",\"after\":\"pln_test_Zp8Oyr0K9oF0VWjw\"},\"remaining_items\":0}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137695'
      X-CULQI-VERSION:
      - 2.0.0
      X-Proxy-Cache:
      - MISS
      x-amz-apigw-id:
      - bybMxHnaIAMF3kA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:10:35 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - 2702d281-25e5-4a9a-8e63-5b3005c1d49f
    status:
      code: 200
      message: OK
[...]
