interactions:
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-e2f8", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_WFsCaTqzJG7zfO3z\",\"creation_date\":1589341102000,\"name\":\"plan-e2f8\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3DME9KIAMFb9Q=
        x-amzn-RequestId:
          - 9114aa51-04fb-49d7-897e-bee7ad72206b
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892544"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/plans/pln_test_WFsCaTqzJG7zfO3z
    response:
      body:
        string:
          "{\"id\":\"pln_test_WFsCaTqzJG7zfO3z\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el plan con ID pln_test_WFsCaTqzJG7zfO3z exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892545"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3DVFWmoAMFufQ=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:22 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - eefb717c-8ccd-418b-8468-4082e2a52c23
      status:
        code: 200
        message: OK
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-6445", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_yM4DCnrKEFZCmGl7\",\"creation_date\":1615072233000,\"name\":\"plan-6445\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137693"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybMaGa6oAMFs_w=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:33 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 3f8c8429-3354-4106-b64c-64db37ba895e
      status:
        code: 201
        message: Created
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/plans/pln_test_yM4DCnrKEFZCmGl7
    response:
      body:
        string:
          "{\"id\":\"pln_test_yM4DCnrKEFZCmGl7\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el plan con ID pln_test_yM4DCnrKEFZCmGl7 exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137694"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybMjEDJIAMF4bQ=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:33 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - cd7dccfa-d041-431a-ad06-6a3970a870ed
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/plans/pln_test_erWGw1PLupBGCy8H
    response:
      body:
        string:
          "{\"id\":\"pln_test_erWGw1PLupBGCy8H\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el plan con ID pln_test_erWGw1PLupBGCy8H exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137916"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bycBiEe4IAMFmAA=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:16:13 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 6ca8123c-b775-4bd0-847a-e4a8dc389a4b
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/plans/pln_test_06ITHVBG4tWSPya9
    response:
      body:
        string:
          "{\"id\":\"pln_test_06ITHVBG4tWSPya9\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el plan con ID pln_test_06ITHVBG4tWSPya9 exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138171"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byc3qGcJIAMFltA=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:21:59 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 29a874e7-4aea-4951-a7ba-aff06afcf84a
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/plans/pln_test_wvpr2K7CdI4kogoq
    response:
      body:
        string:
          "{\"id\":\"pln_test_wvpr2K7CdI4kogoq\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el plan con ID pln_test_wvpr2K7CdI4kogoq exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138389"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byduGHDZIAMFaFw=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:27:48 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - f1d644bd-096a-4ff1-9c9c-0d56a2f1e772
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/plans/pln_test_Z1zfXsMLvU1RJB4C
    response:
      body:
        string:
          "{\"id\":\"pln_test_Z1zfXsMLvU1RJB4C\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el plan con ID pln_test_Z1zfXsMLvU1RJB4C exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141039"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0T6VFbIoAMFQdA=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 12:54:38 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 589dda90-980d-49ad-a997-c00361c6b42d
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/plans/pln_test_y0bHq990Ti7Q3dey
    response:
      body:
        string:
          "{\"id\":\"pln_test_y0bHq990Ti7Q3dey\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el plan con ID pln_test_y0bHq990Ti7Q3dey exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141340"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0YwsGdwoAMFsEg=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 13:27:45 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 2d14a0a1-9555-4f66-95cc-e9b6eae2508b
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/plans/pln_test_Qn1MsiLCGThmj5Am
    response:
      body:
        string:
          "{\"id\":\"pln_test_Qn1MsiLCGThmj5Am\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el plan con ID pln_test_Qn1MsiLCGThmj5Am exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141985"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0nYxGbJoAMFTEg=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:07:36 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 73156aad-154d-4a30-b7e2-7d1e1c5812ca
      status:
        code: 200
        message: OK
[...]
  - request:
      body: "null"
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: DELETE
      uri: https://api.culqi.com/v2/plans/pln_test_yvzHw9fGpNWfgovd
    response:
      body:
        string:
          "{\"id\":\"pln_test_yvzHw9fGpNWfgovd\",\"deleted\":true,\"merchant_message\":\"Se
          elimin\xF3 el plan con ID pln_test_yvzHw9fGpNWfgovd exitosamente.\"}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142342"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0sjBF99IAMFfvA=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:42:49 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - fb271c5f-5fd9-4090-b0db-0ec75c0a336c
      status:
        code: 200
        message: OK
version: 1
