interactions:
- request:
    body: '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
      "expiration_month": "09", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_H2l0POksFCWif1u7\",\"type\":\"card\",\"creation_date\":1589341116000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc3FaF4BoAMFaIw=
      x-amzn-Remapped-Content-Length:
      - '613'
      x-amzn-RequestId:
      - 9f5839d0-a901-4d5c-a8a9-ea74e8e28c74
    status:
      code: 201
      message: Created
- request:
    body: '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
      "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
      "tkn_test_H2l0POksFCWif1u7"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/charges
  response:
    body:
      string: "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_tkRxSXNEA6AjGVbg\",\"creation_date\":1589341118000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\":\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta
        de prueba\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_H2l0POksFCWif1u7\",\"type\":\"card\",\"creation_date\":1589341116000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"outcome\":{\"type\":\"venta_exitosa\",\"code\":\"AUT0000\",\"merchant_message\":\"La
        operaci\xF3n de venta ha sido autorizada exitosamente\",\"user_message\":\"Su
        compra ha sido exitosa.\"},\"fraud_score\":6.0,\"dispute\":false,\"capture\":false,\"reference_code\":\"Q8tZm6O7Da\",\"authorization_code\":\"yDvTBR\",\"metadata\":{},\"total_fee\":47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"currency_code\":\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\":7,\"transfer_amount\":953,\"paid\":false,\"statement_descriptor\":\"CULQI*\",\"transfer_id\":null,\"capture_date\":null}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc3FlH5boAMFUOQ=
      x-amzn-RequestId:
      - 86eed26f-fc6f-49c1-9ed3-31b65f31c42f
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892560'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: '{"amount": 100, "reason": "solicitud_comprador", "charge_id": "chr_test_tkRxSXNEA6AjGVbg"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/refunds
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_IDr4zR7t3jNhOYXW\",\"charge_id\":\"chr_test_tkRxSXNEA6AjGVbg\",\"creation_date\":1589341121000,\"amount\":100,\"reason\":\"Devoluci\xF3n
        solicitada por el comercio\",\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc3F9G_koAMFtrA=
      x-amzn-RequestId:
      - 83593317-ce51-4d5e-a518-c6b56b314a4e
      x-culqi-environment:
      - test
      x-culqi-tracking-id:
      - '6892561'
      x-culqi-version:
      - 2.0.0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/refunds/ref_test_IDr4zR7t3jNhOYXW
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_IDr4zR7t3jNhOYXW\",\"charge_id\":\"chr_test_tkRxSXNEA6AjGVbg\",\"creation_date\":1589341121000,\"amount\":100,\"reason\":\"Devoluci\xF3n
        solicitada por el comercio\",\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '6892562'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - Mc3GXEKgoAMFqHA=
      x-amzn-Remapped-Date:
      - Wed, 13 May 2020 03:38:42 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - b4d2d5fc-cbdb-4e42-9a5b-faa0ef1457bd
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"amount": 100, "reason": "solicitud_comprador", "charge_id": "chr_test_9X37kkOe3l2isQyg"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://api.culqi.com/v2/refunds
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_rLRIehjVqJebkttD\",\"charge_id\":\"chr_test_9X37kkOe3l2isQyg\",\"creation_date\":1615072260000,\"amount\":100,\"reason\":\"Devoluci\xF3n
        solicitada por el comercio\",\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137713'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bybQYGCPIAMFUQQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:11:00 GMT
      x-amzn-Remapped-Server:
      - nginx
      x-amzn-RequestId:
      - 65a2cd46-7042-4ce3-8758-78c4f528ee6b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/refunds/ref_test_rLRIehjVqJebkttD
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_rLRIehjVqJebkttD\",\"charge_id\":\"chr_test_9X37kkOe3l2isQyg\",\"creation_date\":1615072260000,\"amount\":100,\"reason\":\"Devoluci\xF3n
        solicitada por el comercio\",\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137714'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bybQ0FGAIAMF00g=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:11:01 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - d60b6832-83be-40d4-9d43-eec38b7d9029
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/refunds/ref_test_0c44qydipbZm7Ssp
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_0c44qydipbZm7Ssp\",\"charge_id\":\"chr_test_Hsx9XWm0BXmEJnMx\",\"creation_date\":1615072597000,\"amount\":100,\"reason\":\"Devoluci\xF3n
        solicitada por el comercio\",\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137934'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bycFjFGsoAMFjUQ=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:16:38 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 61f07443-64fa-423b-a63a-67cfee2e66cc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/refunds/ref_test_Co42AUCGu0Eez6yn
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_Co42AUCGu0Eez6yn\",\"charge_id\":\"chr_test_rD9Z9Bg3WyrjBLMj\",\"creation_date\":1615072951000,\"amount\":100,\"reason\":\"Devoluci\xF3n
        solicitada por el comercio\",\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10138187'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - byc8tFCDIAMFWgA=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:22:31 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 335be1fd-b27d-4608-a21d-bb89358ed25f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/refunds/ref_test_ChNR8yWlVxDPzbDI
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_ChNR8yWlVxDPzbDI\",\"charge_id\":\"chr_test_G55CZZDDy5eov0IW\",\"creation_date\":1615073300000,\"amount\":100,\"reason\":\"Devoluci\xF3n
        solicitada por el comercio\",\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10138405'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bydzTEDxoAMFfXw=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:28:20 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 28373fa4-e034-4846-8834-d4630b56b992
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/refunds/ref_test_FRbZxH83Dm7oZpdF
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_FRbZxH83Dm7oZpdF\",\"charge_id\":\"chr_test_xLIDGwb1RnC5vmLV\",\"creation_date\":1615121704000,\"amount\":100,\"reason\":\"Devoluci\xF3n
        solicitada por el comercio\",\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10141055'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0T-bEZLIAMFjsw=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 12:55:05 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 2cdf8ce6-1ed2-47e6-af86-6757172847de
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/refunds/ref_test_9iN0lDJS5JXWLCAt
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_9iN0lDJS5JXWLCAt\",\"charge_id\":\"chr_test_cvzuv9p2MPolwN26\",\"creation_date\":1615123691000,\"amount\":100,\"reason\":\"Devoluci\xF3n
        solicitada por el comercio\",\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10141356'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0Y08H_JIAMF9TQ=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 13:28:12 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 7c31ab3e-74e2-43e5-b5c5-762f5c5baaf0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/refunds/ref_test_5T7VgC4urBbrixOe
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_5T7VgC4urBbrixOe\",\"charge_id\":\"chr_test_wP8u6DaluAhWjhuI\",\"creation_date\":1615129682000,\"amount\":100,\"reason\":\"Devoluci\xF3n
        solicitada por el comercio\",\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10142001'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0nc_G1KIAMFl_A=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:08:03 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - e4c644b4-769d-486b-82cd-d55ca4065205
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: GET
    uri: https://api.culqi.com/v2/refunds/ref_test_PNJP44qvzi6hqbun
  response:
    body:
      string: "{\"object\":\"refund\",\"id\":\"ref_test_PNJP44qvzi6hqbun\",\"charge_id\":\"chr_test_Dvw5ljo7jXoj3JGk\",\"creation_date\":1615131797000,\"amount\":100,\"reason\":\"Devoluci\xF3n
        solicitada por el comercio\",\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10142358'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0sndHl9IAMFr8Q=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:43:18 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - eec2ee3f-592b-469c-bfe1-dd7679c4e64f
    status:
      code: 200
      message: OK
version: 1
