interactions:
  - request:
      body:
        '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
        "expiration_month": "09", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_AVAom65SsYkr4YoO\",\"type\":\"card\",\"creation_date\":1589341123000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3GjG79oAMFuLw=
        x-amzn-Remapped-Content-Length:
          - "613"
        x-amzn-RequestId:
          - 59c317d9-37f3-4308-b228-51707ddef772
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
        "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
        "tkn_test_AVAom65SsYkr4YoO"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_dwETnJOXXwMJRZvh\",\"creation_date\":1589341125000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\":\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta
          de prueba\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_AVAom65SsYkr4YoO\",\"type\":\"card\",\"creation_date\":1589341123000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"outcome\":{\"type\":\"venta_exitosa\",\"code\":\"AUT0000\",\"merchant_message\":\"La
          operaci\xF3n de venta ha sido autorizada exitosamente\",\"user_message\":\"Su
          compra ha sido exitosa.\"},\"fraud_score\":6.0,\"dispute\":false,\"capture\":false,\"reference_code\":\"1MECJrzm5w\",\"authorization_code\":\"YqbyqQ\",\"metadata\":{},\"total_fee\":47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"currency_code\":\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\":7,\"transfer_amount\":953,\"paid\":false,\"statement_descriptor\":\"CULQI*\",\"transfer_id\":null,\"capture_date\":null}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3GuF9qoAMFusA=
        x-amzn-RequestId:
          - 63e3fe63-aeeb-4248-9d36-ba510a9cb958
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892566"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"amount": 100, "reason": "solicitud_comprador", "charge_id": "chr_test_dwETnJOXXwMJRZvh"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/refunds
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_fcQNNumJTvIkCUGt\",\"charge_id\":\"chr_test_dwETnJOXXwMJRZvh\",\"creation_date\":1589341128000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3HHFIYIAMFkqA=
        x-amzn-RequestId:
          - a5df0c59-1325-44a5-8c11-89323a5b6721
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892567"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/refunds/ref_test_fcQNNumJTvIkCUGt
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_fcQNNumJTvIkCUGt\",\"charge_id\":\"chr_test_dwETnJOXXwMJRZvh\",\"creation_date\":1589341128000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{\"order_id\":\"0001\"}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892568"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3HbHlRoAMFqXA=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:38:48 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - eeb3f8e9-f51c-4acc-a744-0b9989bc2523
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"amount": 100, "reason": "solicitud_comprador", "charge_id": "chr_test_mMmtjQjNOuZo8Ek9"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/refunds
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_LLHzBMKsjUJO8Mct\",\"charge_id\":\"chr_test_mMmtjQjNOuZo8Ek9\",\"creation_date\":1615072268000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137717"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybRoGXXIAMFi6w=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:11:08 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 94d52c00-8fc1-4e6a-93ce-4f667b801f0e
      status:
        code: 201
        message: Created
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/refunds/ref_test_LLHzBMKsjUJO8Mct
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_LLHzBMKsjUJO8Mct\",\"charge_id\":\"chr_test_mMmtjQjNOuZo8Ek9\",\"creation_date\":1615072268000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{\"order_id\":\"0001\"}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137718"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybSCGcqIAMFTlg=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:11:09 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - ed78189a-cd37-4f27-9a3c-3586c2bac9a4
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/refunds/ref_test_WKVsjvKDXaoNy8ah
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_WKVsjvKDXaoNy8ah\",\"charge_id\":\"chr_test_ze5GCbsI9VysCjeM\",\"creation_date\":1615072605000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{\"order_id\":\"0001\"}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137939"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bycGqFrAoAMFrqQ=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:16:45 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - fe1b2d8f-acf9-4107-b3b4-dd47ce3bf17b
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/refunds/ref_test_fF34r70cN3kyk02K
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_fF34r70cN3kyk02K\",\"charge_id\":\"chr_test_heyQWWA56mbFbQAS\",\"creation_date\":1615072958000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{\"order_id\":\"0001\"}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138192"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byc95EE6oAMF2XQ=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:22:39 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - f449af0c-9bc6-4252-8207-7bcdc507247b
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/refunds/ref_test_I6QJHIlmX9h09LCn
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_I6QJHIlmX9h09LCn\",\"charge_id\":\"chr_test_cooEWrQGLb96ZlVr\",\"creation_date\":1615073312000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{\"order_id\":\"0001\"}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10138409"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - byd1MGxoIAMFcdg=
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:28:33 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - b917eba0-8a15-42c4-afbf-dabf0929c369
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/refunds/ref_test_H0jA3nNkJSgBeNk4
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_H0jA3nNkJSgBeNk4\",\"charge_id\":\"chr_test_6auaxCl3I4N2wiMq\",\"creation_date\":1615121712000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{\"order_id\":\"0001\"}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141059"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0T_rFcXIAMFYcg=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 12:55:13 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 6b5d0440-f954-456f-a6b0-d3cd59dcd2c2
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/refunds/ref_test_thp2bcEZu7kQ7o4O
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_thp2bcEZu7kQ7o4O\",\"charge_id\":\"chr_test_ouxXk93yZxzQ0x3s\",\"creation_date\":1615123698000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{\"order_id\":\"0001\"}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10141360"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0Y2EF_NoAMFiOQ=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 13:28:19 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - b296c64a-1dac-429a-96ab-88bdaa664c4f
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/refunds/ref_test_rs1keWLmZDA3HYEY
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_rs1keWLmZDA3HYEY\",\"charge_id\":\"chr_test_aLh4YLdwKEmWtStg\",\"creation_date\":1615129690000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{\"order_id\":\"0001\"}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142005"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0neRFpxoAMF5Cw=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:08:11 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - c7decdff-8dd7-4b3f-a9e7-6e567af03499
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/refunds/ref_test_dyGLbjCovCMSyH4U
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_dyGLbjCovCMSyH4U\",\"charge_id\":\"chr_test_ckiNpJQ3Nb5O7dgU\",\"creation_date\":1615131804000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{\"order_id\":\"0001\"}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142362"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0sohHaeoAMFUkg=
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:43:25 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - d571c4d6-9373-4462-882c-f8e2347966a2
      status:
        code: 200
        message: OK
version: 1
