interactions:
  - request:
      body:
        '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
        "expiration_month": "09", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_UtOEikiOKCD3MTke\",\"type\":\"card\",\"creation_date\":1589341107000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3EEEkMIAMFfXw=
        x-amzn-Remapped-Content-Length:
          - "613"
        x-amzn-RequestId:
          - b7b9c0db-a2a0-4070-8439-e26b60fb0c6b
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "capture": false, "currency_code": "PEN", "description":
        "Venta de prueba", "email": "richard@piedpiper.com", "installments": 0, "source_id":
        "tkn_test_UtOEikiOKCD3MTke"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/charges
    response:
      body:
        string:
          "{\"duplicated\":false,\"object\":\"charge\",\"id\":\"chr_test_7rje5SJhNW0VC3OL\",\"creation_date\":1589341109000,\"amount\":1000,\"amount_refunded\":0,\"current_amount\":1000,\"installments\":1,\"installments_amount\":1000,\"currency_code\":\"PEN\",\"email\":\"richard@piedpiper.com\",\"description\":\"Venta
          de prueba\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_UtOEikiOKCD3MTke\",\"type\":\"card\",\"creation_date\":1589341107000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"outcome\":{\"type\":\"venta_exitosa\",\"code\":\"AUT0000\",\"merchant_message\":\"La
          operaci\xF3n de venta ha sido autorizada exitosamente\",\"user_message\":\"Su
          compra ha sido exitosa.\"},\"fraud_score\":6.0,\"dispute\":false,\"capture\":false,\"reference_code\":\"f8GC2euiV0\",\"authorization_code\":\"ENCG9a\",\"metadata\":{},\"total_fee\":47,\"fee_details\":{\"fixed_fee\":{},\"variable_fee\":{\"currency_code\":\"PEN\",\"commision\":0.0399,\"total\":40}},\"total_fee_taxes\":7,\"transfer_amount\":953,\"paid\":false,\"statement_descriptor\":\"CULQI*\",\"transfer_id\":null,\"capture_date\":null}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3ERHpfoAMF-oQ=
        x-amzn-RequestId:
          - 30a3f426-4fcd-4690-b51e-b97ee2ac9b0b
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892553"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"amount": 100, "reason": "solicitud_comprador", "charge_id": "chr_test_7rje5SJhNW0VC3OL"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/refunds
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_SL8TtdYLrRg0qYVN\",\"charge_id\":\"chr_test_7rje5SJhNW0VC3OL\",\"creation_date\":1589341113000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3EpH1kIAMF2wA=
        x-amzn-RequestId:
          - 6d54f536-42cb-4cf7-878e-859d4e8d3694
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892555"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
[...]
  - request:
      body: '{"amount": 100, "reason": "solicitud_comprador", "charge_id": "chr_test_a5eh5ixzxkBemw8V"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/refunds
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_4przlUpFGH6xSxcZ\",\"charge_id\":\"chr_test_a5eh5ixzxkBemw8V\",\"creation_date\":1615072245000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137702"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybOIEB_oAMFqBA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:10:46 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - b8859e00-cf21-4e3b-a9ac-37ca10b28f69
      status:
        code: 201
        message: Created
[...]
  - request:
      body: '{"amount": 100, "reason": "solicitud_comprador", "charge_id": "chr_test_P7iMnBgIKgL2Q9UN"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/refunds
    response:
      body:
        string:
          "{\"object\":\"refund\",\"id\":\"ref_test_rXPsaM3AmvuRrHIh\",\"charge_id\":\"chr_test_P7iMnBgIKgL2Q9UN\",\"creation_date\":1615131780000,\"amount\":100,\"reason\":\"Devoluci\xF3n
          solicitada por el comercio\",\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10142350"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - b0skcHu-oAMFwng=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sun, 07 Mar 2021 15:43:00 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - f9cb28e4-a510-4683-8ac6-dcf8ece18574
      status:
        code: 201
        message: Created
version: 1
