interactions:
  - request:
      body:
        '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
        "expiration_month": "09", "email": "richard58d2@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_KjoimZhER88DJonW\",\"type\":\"card\",\"creation_date\":1589341156000,\"email\":\"richard58d2@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3LtFOkIAMFQ2w=
        x-amzn-Remapped-Content-Length:
          - "617"
        x-amzn-RequestId:
          - b6822b48-6e5e-484f-9df6-94c32ec10b40
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard58d2@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_pJC8Trzdt7fYYIav","creation_date":1589341157897,"email":"richard58d2@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3L5EPsoAMFcHQ=
        x-amzn-RequestId:
          - ed50ea31-01f7-4b93-b299-879ee4daa72f
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892594"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"token_id": "tkn_test_KjoimZhER88DJonW", "customer_id": "cus_test_pJC8Trzdt7fYYIav"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_6WSHO543AIt6ISKd\",\"active\":true,\"creation_date\":1589341163119,\"customer_id\":\"cus_test_pJC8Trzdt7fYYIav\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_KjoimZhER88DJonW\",\"type\":\"card\",\"creation_date\":1589341156000,\"email\":\"richard58d2@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\":true}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3MBFTZIAMF8FQ=
        x-amzn-RequestId:
          - ad1c7399-d4ea-4b5e-bf0d-cc824791bc33
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892595"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-c654", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_iOVLqg6aJYOpnJH6\",\"creation_date\":1589341163000,\"name\":\"plan-c654\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3M1F6sIAMFpRQ=
        x-amzn-RequestId:
          - b5e9047c-4560-4fad-b051-486eaa2a0b65
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892598"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"card_id": "crd_test_6WSHO543AIt6ISKd", "plan_id": "pln_test_iOVLqg6aJYOpnJH6"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/subscriptions
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_qfNHRRMfTGt4Qd3K\",\"creation_date\":1589341164000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1591851600000,\"current_period_end\":1592024400000,\"cancel_at_period_end\":false,\"cancel_at\":null,\"ended_at\":1593579600000,\"next_billing_date\":1591851600000,\"trial_start\":1589341164000,\"trial_end\":1591933164000,\"charges\":[],\"plan\":{\"object\":\"plan\",\"id\":\"pln_test_iOVLqg6aJYOpnJH6\",\"creation_date\":1589341163000,\"name\":\"plan-c654\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":1,\"metadata\":{}},\"card\":{\"object\":\"card\",\"id\":\"crd_test_6WSHO543AIt6ISKd\",\"active\":true,\"creation_date\":1589341163000,\"customer_id\":\"cus_test_pJC8Trzdt7fYYIav\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_KjoimZhER88DJonW\",\"type\":\"card\",\"creation_date\":1589341156000,\"email\":\"richard58d2@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{}},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892599"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3M-HEzIAMFUDg=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:39:24 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 735c92de-f6f9-4be3-accb-1b5b5aef8194
      status:
        code: 201
        message: Created
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/subscriptions/sub_test_qfNHRRMfTGt4Qd3K
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_qfNHRRMfTGt4Qd3K\",\"creation_date\":1589341164000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1591851600000,\"current_period_end\":15920[...]
[...]
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richardcf2d@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_8eraTtkGbXw451nh","creation_date":1615072300355,"email":"richardcf2d@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137744"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybW6EHAIAMFwng=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:11:40 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - cc905cf4-39ad-4320-b2a1-b9c1f975f5b2
      status:
        code: 201
        message: Created
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/subscriptions/sub_test_SrYS8kthEQxZDY4C
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_SrYS8kthEQxZDY4C\",\"creation_date\":1615072306000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/subscriptions/sub_test_hAmnbqHnlR6HDsJi
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_hAmnbqHnlR6HDsJi\",\"creation_date\":1615072640000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/subscriptions/sub_test_u1nvmWiDHesa5Esu
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_u1nvmWiDHesa5Esu\",\"creation_date\":1615072996000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/subscriptions/sub_test_wSUfXxkRfz6SZgWU
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_wSUfXxkRfz6SZgWU\",\"creation_date\":1615073350000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/subscriptions/sub_test_jATQgfItipUCAHe9
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_jATQgfItipUCAHe9\",\"creation_date\":1615121751000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/subscriptions/sub_test_eRSmFAFJiy2YnCGK
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_eRSmFAFJiy2YnCGK\",\"creation_date\":1615123737000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/subscriptions/sub_test_utqKrxgouUh0IL76
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_utqKrxgouUh0IL76\",\"creation_date\":1615129729000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period[...]
[...]
  - request:
      body: '{"metadata": {"order_id": "0001"}}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: PATCH
      uri: https://api.culqi.com/v2/subscriptions/sub_test_fGk90ZKEh4dk9LBh
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_fGk90ZKEh4dk9LBh\",\"creation_date\":1615131844000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period[...]
