interactions:
  - request:
      body:
        '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
        "expiration_month": "09", "email": "richard5449@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_v4mJuXrnPjcYwCLt\",\"type\":\"card\",\"creation_date\":1589341147000,\"email\":\"richard5449@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3KOF49oAMF9zA=
        x-amzn-Remapped-Content-Length:
          - "617"
        x-amzn-RequestId:
          - d39d1830-e70a-4374-b28b-5c34695ed901
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richard5449@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_ZWa05hbQxvPvDRJ4","creation_date":1589341148629,"email":"richard5449@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3KZHsqoAMFbvw=
        x-amzn-RequestId:
          - 7ab472b8-c0e6-4841-8786-53a737aae30a
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892585"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"token_id": "tkn_test_v4mJuXrnPjcYwCLt", "customer_id": "cus_test_ZWa05hbQxvPvDRJ4"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/cards
    response:
      body:
        string: "{\"object\":\"card\",\"id\":\"crd_test_T8ssyqt5soMyxxB1\",\"active\":true,\"creation_date\":1589341153766,\"customer_id\":\"cus_test_ZWa05hbQxvPvDRJ4\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_v4mJuXrnPjcYwCLt\",\"type\":\"card\",\"creation_date\":1589341147000,\"email\":\"richard5449@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{\"ZDA\":true}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3KhEvHIAMF1WA=
        x-amzn-RequestId:
          - 232191a5-cfec-4527-8146-599e52e86df3
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892586"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body:
        '{"amount": 1000, "currency_code": "PEN", "interval": "dias", "interval_count":
        2, "limit": 10, "name": "plan-30b8", "trial_days": 30}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/plans
    response:
      body:
        string: "{\"object\":\"plan\",\"id\":\"pln_test_OTNcxpn2jkehJw1F\",\"creation_date\":1589341154000,\"name\":\"plan-30b8\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":0,\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3LVE-FIAMFXhw=
        x-amzn-RequestId:
          - 6c2d112f-a29d-422a-adcb-ec96d3eb5583
        x-culqi-environment:
          - test
        x-culqi-tracking-id:
          - "6892590"
        x-culqi-version:
          - 2.0.0
      status:
        code: 201
        message: Created
  - request:
      body: '{"card_id": "crd_test_T8ssyqt5soMyxxB1", "plan_id": "pln_test_OTNcxpn2jkehJw1F"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/subscriptions
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_IgQITtU7YmwO8f7I\",\"creation_date\":1589341154000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1591851600000,\"current_period_end\":1592024400000,\"cancel_at_period_end\":false,\"cancel_at\":null,\"ended_at\":1593579600000,\"next_billing_date\":1591851600000,\"trial_start\":1589341154000,\"trial_end\":1591933154000,\"charges\":[],\"plan\":{\"object\":\"plan\",\"id\":\"pln_test_OTNcxpn2jkehJw1F\",\"creation_date\":1589341154000,\"name\":\"plan-30b8\",\"amount\":1000,\"currency_code\":\"PEN\",\"interval_count\":2,\"interval\":\"D\xEDas\",\"limit\":10,\"trial_days\":30,\"total_subscriptions\":1,\"metadata\":{}},\"card\":{\"object\":\"card\",\"id\":\"crd_test_T8ssyqt5soMyxxB1\",\"active\":true,\"creation_date\":1589341153000,\"customer_id\":\"cus_test_ZWa05hbQxvPvDRJ4\",\"source\":{\"object\":\"token\",\"id\":\"tkn_test_v4mJuXrnPjcYwCLt\",\"type\":\"card\",\"creation_date\":1589341147000,\"email\":\"richard5449@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}},\"metadata\":{}},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892591"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3LbF0VIAMFWFQ=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:39:14 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - bcecf932-e377-42cf-b401-a3579dd07a66
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/subscriptions/sub_test_IgQITtU7YmwO8f7I
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_IgQITtU7YmwO8f7I\",\"creation_date\":1589341154000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1591851600000,\"current_p[...]
[...]
  - request:
      body:
        '{"address": "Avenida Lima 123213", "address_city": "LIMA", "country_code":
        "PE", "email": "richardab12@piedpiper.com", "first_name": "Richard", "last_name":
        "Piedpiper", "phone_number": "+51998989789"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://api.culqi.com/v2/customers
    response:
      body:
        string:
          '{"object":"customer","id":"cus_test_uDqywINhy8WzlbKI","creation_date":1615072291394,"email":"richardab12@piedpiper.com","antifraud_details":{"first_name":"Richard","last_name":"Piedpiper","address":"Avenida
          Lima 123213","address_city":"LIMA","country_code":"PE","phone":"+51998989789","object":"client"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "10137736"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - bybVgGclIAMFbew=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Sat, 06 Mar 2021 23:11:31 GMT
        x-amzn-Remapped-Server:
          - nginx
        x-amzn-RequestId:
          - 6878c188-c93b-40f4-8f9f-a9570157f6fe
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/subscriptions/sub_test_vgVCRyaJGJr7y656
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_vgVCRyaJGJr7y656\",\"creation_date\":1615072297000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1617598800000,\"current_p[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/subscriptions/sub_test_WPL4MGdeRmzpPmnV
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_WPL4MGdeRmzpPmnV\",\"creation_date\":1615072632000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1617598800000,\"current_p[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/subscriptions/sub_test_hscm9AteAxoZPNnD
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_hscm9AteAxoZPNnD\",\"creation_date\":1615072987000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1617598800000,\"current_p[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/subscriptions/sub_test_VDugedDycOBwRbZM
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_VDugedDycOBwRbZM\",\"creation_date\":1615073340000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1617598800000,\"current_p[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/subscriptions/sub_test_vh1jSbmuRhOu5hZV
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_vh1jSbmuRhOu5hZV\",\"creation_date\":1615121741000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1617685200000,\"current_p[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/subscriptions/sub_test_VPvIV5VFixgaRgKr
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_VPvIV5VFixgaRgKr\",\"creation_date\":1615123726000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1617685200000,\"current_p[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/subscriptions/sub_test_zdbKNJW42THPOAUY
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_zdbKNJW42THPOAUY\",\"creation_date\":1615129719000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1617685200000,\"current_p[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/subscriptions/sub_test_oJd4UargAAhK9BFY
    response:
      body:
        string: "{\"object\":\"subscription\",\"id\":\"sub_test_oJd4UargAAhK9BFY\",\"creation_date\":1615131834000,\"status\":\"Activa\",\"current_period\":0,\"total_period\":10,\"current_period_start\":1617685200000,\"current_p[...]
