interactions:
  - request:
      body:
        '{"card_number": "371212121212122", "expiration_month": "11", "expiration_year":
        "2025", "cvv": "2841", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_ZAUyPURqxtiODzE4","type":"card","creation_date":1589955041000,"email":"richard@piedpiper.com","card_number":"371212*****2122","last_four":"2122","active":true,"iin":{"object":"iin","bin":"371212","card_brand":"Amex","card_type":"credito","card_category":null,"issuer":{"name":"AMERICAN
          EXPRESS COMPANY","country":"UNITED STATES","country_code":"US","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0R7SHitoAMF-HQ=
        x-amzn-Remapped-Content-Length:
          - "608"
        x-amzn-RequestId:
          - b2b482ca-207a-4614-9bf8-7a4c312fc816
      status:
        code: 201
        message: Created
[...]
  - request:
      body:
        '{"card_number": "371212121212122", "expiration_month": "11", "expiration_year":
        "2025", "cvv": "2841", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_eeo617IuRzLOVGCB","type":"card","creation_date":1615131862000,"email":"richard@piedpiper.com","card_number":"371212*****2122","last_four":"2122","active":true,"iin":{"object":"iin","bin":"371212","card_brand":"Amex","card_type":"credito","card_category":null,"issuer":{"name":"AMERICAN
          EXPRESS COMPANY","country":"PERU","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"191.98.182.73","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - b0sxbFlIIAMF0HA=
        x-amzn-Remapped-Content-Length:
          - "598"
        x-amzn-RequestId:
          - 3dac3eb4-a18d-4d48-a3cf-d763c56f81ff
      status:
        code: 201
        message: Created
version: 1
