interactions:
  - request:
      body:
        '{"card_number": "370002000000008", "expiration_month": "05", "expiration_year":
        "2025", "cvv": "1810", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_m2oJFimvZ4Xo7n8U","type":"card","creation_date":1589955034000,"email":"richard@piedpiper.com","card_number":"370002*****0008","last_four":"0008","active":true,"iin":{"object":"iin","bin":"370002","card_brand":"Amex","card_type":"credito","card_category":null,"issuer":{"name":"AMERICAN
          EXPRESS COMPANY","country":"BRAZIL","country_code":"BR","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0R6JEk_oAMFamQ=
        x-amzn-Remapped-Content-Length:
          - "601"
        x-amzn-RequestId:
          - 2b9793a8-01fb-49eb-a7ec-29d962b45458
      status:
        code: 201
        message: Created
[...]
  - request:
      body:
        '{"card_number": "370002000000008", "expiration_month": "05", "expiration_year":
        "2025", "cvv": "1810", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_RASfI7U7Jg2GV5yI","type":"card","creation_date":1615131854000,"email":"richard@piedpiper.com","card_number":"370002*****0008","last_four":"0008","active":true,"iin":{"object":"iin","bin":"370002","card_brand":"Amex","card_type":"credito","card_category":null,"issuer":{"name":"AMERICAN
          EXPRESS COMPANY","country":"PERU","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"191.98.182.73","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - b0swREElIAMFooQ=
        x-amzn-Remapped-Content-Length:
          - "598"
        x-amzn-RequestId:
          - 5be73d7a-6ff7-4a94-9067-f34558705f76
      status:
        code: 201
        message: Created
version: 1
