interactions:
  - request:
      body:
        '{"card_number": "36001212121210", "expiration_month": "04", "expiration_year":
        "2025", "cvv": "964", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_jtyegqCgVHmhyADp","type":"card","creation_date":1589955043000,"email":"richard@piedpiper.com","card_number":"360012****1210","last_four":"1210","active":true,"iin":{"object":"iin","bin":"360012","card_brand":"Diners","card_type":"debito","card_category":null,"issuer":{"name":"BERLINER
          BANK AG","country":"Germany","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0R7dFnPIAMFYPA=
        x-amzn-Remapped-Content-Length:
          - "594"
        x-amzn-RequestId:
          - 47107ffd-5e7e-41ee-b7b1-42f3cab46b79
      status:
        code: 201
        message: Created
[...]
  - request:
      body:
        '{"card_number": "36001212121210", "expiration_month": "04", "expiration_year":
        "2025", "cvv": "964", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_UPaY0LMotEHjAz3V","type":"card","creation_date":1615131863000,"email":"richard@piedpiper.com","card_number":"360012****1210","last_four":"1210","active":true,"iin":{"object":"iin","bin":"360012","card_brand":"Diners","card_type":"debito","card_category":null,"issuer":{"name":"BERLINER
          BANK AG","country":"PERU","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"191.98.182.73","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - b0sxnGzzoAMFwFw=
        x-amzn-Remapped-Content-Length:
          - "590"
        x-amzn-RequestId:
          - b6b21b56-90fc-489c-af60-4d3f2e2fa216
      status:
        code: 201
        message: Created
version: 1
