interactions:
  - request:
      body:
        '{"brand": "Visa", "card_number": "4111111111111111", "expiration_month":
        "09", "expiration_year": "2025", "cvv": "123", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_ogSsnP5j3XzgArpd\",\"type\":\"card\",\"creation_date\":1589951809000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0KCLFNgoAMFszw=
        x-amzn-Remapped-Content-Length:
          - "613"
        x-amzn-RequestId:
          - 56c8bd91-ead5-4013-afc9-bc99945a80e3
      status:
        code: 201
        message: Created
[...]
  - request:
      body:
        '{"card_number": "4111111111111111", "expiration_month": "09", "expiration_year":
        "2025", "cvv": "123", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_7rf1WNdPNe3hiCAa\",\"type\":\"card\",\"creation_date\":1615131868000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"191.98.182.73\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - b0syZGeVoAMFc5w=
        x-amzn-Remapped-Content-Length:
          - "612"
        x-amzn-RequestId:
          - 47ae643f-feb4-46d4-bee6-066e9690fa4e
      status:
        code: 201
        message: Created
version: 1
