interactions:
  - request:
      body:
        '{"card_number": "5400020000000003", "expiration_month": "07", "expiration_year":
        "2025", "cvv": "203", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_qec8mVqWxbEA3Ero","type":"card","creation_date":1589955030000,"email":"richard@piedpiper.com","card_number":"540002******0003","last_four":"0003","active":true,"iin":{"object":"iin","bin":"540002","card_brand":"MasterCard","card_type":"credito","card_category":null,"issuer":{"name":"BARCLAYS
          BANK PLC","country":"UNITED KINGDOM","country_code":"GB","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0R5iHrpIAMFYNg=
        x-amzn-Remapped-Content-Length:
          - "609"
        x-amzn-RequestId:
          - 14e2ea3a-b39c-4171-9e83-7ca7f4382109
      status:
        code: 201
        message: Created
[...]
  - request:
      body:
        '{"card_number": "5400020000000003", "expiration_month": "07", "expiration_year":
        "2025", "cvv": "203", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_3x7I65M12WjdGIyN","type":"card","creation_date":1615131849000,"email":"richard@piedpiper.com","card_number":"540002******0003","last_four":"0003","active":true,"iin":{"object":"iin","bin":"540002","card_brand":"MasterCard","card_type":"credito","card_category":null,"issuer":{"name":"BARCLAYS
          BANK PLC","country":"PERU","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"191.98.182.73","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - b0svbFDGoAMF0HA=
        x-amzn-Remapped-Content-Length:
          - "598"
        x-amzn-RequestId:
          - c6af68a1-aab2-44ac-8470-ea2f5c667490
      status:
        code: 201
        message: Created
version: 1
