interactions:
- request:
    body: '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
      "expiration_month": "09", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_c127AtwL64xAA8ha\",\"type\":\"card\",\"creation_date\":1589341181000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - Mc3PqFiqoAMFdfQ=
      x-amzn-Remapped-Content-Length:
      - '613'
      x-amzn-RequestId:
      - 9139ab00-9eb8-4c41-a869-e9038d603ce5
    status:
      code: 201
      message: Created
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/tokens/tkn_test_c127AtwL64xAA8ha
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_c127AtwL64xAA8ha\",\"type\":\"card\",\"creation_date\":1589341181000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '6892607'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - Mc3P1Hd_oAMFWFQ=
      x-amzn-Remapped-Date:
      - Wed, 13 May 2020 03:39:42 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - bb7255c7-f9d8-49be-95b8-75020fc6b6ad
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/tokens/tkn_test_zzSQBZFfoVbkAbdj
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_zzSQBZFfoVbkAbdj\",\"type\":\"card\",\"creation_date\":1615072345000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"191.98.182.73\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10137771'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bybfDGKKoAMFTlg=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:12:32 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 14d3048e-a7ed-48fa-97f2-1ecd678693c4
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/tokens/tkn_test_73St27GNZ0GtTj6I
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_73St27GNZ0GtTj6I\",\"type\":\"card\",\"creation_date\":1615072671000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"191.98.182.73\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10138011'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bycRGES8oAMFjvw=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:17:52 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - d247a299-3a1a-418d-a161-630ad7d776ac
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/tokens/tkn_test_0mnw56E1SQbqrniN
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_0mnw56E1SQbqrniN\",\"type\":\"card\",\"creation_date\":1615073033000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"191.98.182.73\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10138245'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - bydJpGWcIAMFgeA=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:23:54 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - dfa37d97-9428-4115-975d-b2821ea5704f
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/tokens/tkn_test_C19s4r7KnKBvgxR7
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_C19s4r7KnKBvgxR7\",\"type\":\"card\",\"creation_date\":1615073381000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"191.98.182.73\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10138462'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - byeAHFaZoAMF6SQ=
      x-amzn-Remapped-Date:
      - Sat, 06 Mar 2021 23:29:43 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - f78abf93-7ea0-47c9-94ff-9f5cf72eaebd
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/tokens/tkn_test_H9ZXAKPFc25ytKiw
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_H9ZXAKPFc25ytKiw\",\"type\":\"card\",\"creation_date\":1615121780000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"191.98.182.73\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10141112'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0UKdGktoAMFiSQ=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 12:56:21 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 07b3e947-a50f-4372-9a15-b10ea6a0ca3f
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/tokens/tkn_test_SGcKjcL0MgywPgsj
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_SGcKjcL0MgywPgsj\",\"type\":\"card\",\"creation_date\":1615123766000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"191.98.182.73\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10141413'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0ZAmF0QoAMFoOg=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 13:29:27 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 344228dc-f5a9-4e44-a1b1-7951de3dc1a4
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/tokens/tkn_test_jyCMZElsxn7Uanas
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_jyCMZElsxn7Uanas\",\"type\":\"card\",\"creation_date\":1615129765000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"191.98.182.73\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10142058'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0np_H0tIAMF8Zg=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:09:26 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - fee5f869-6d64-4321-afc4-fe7f89f130ce
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"metadata": {"order_id": "0001"}}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: PATCH
    uri: https://api.culqi.com/v2/tokens/tkn_test_lHIxmVmp2dGWyU5C
  response:
    body:
      string: "{\"object\":\"token\",\"id\":\"tkn_test_lHIxmVmp2dGWyU5C\",\"type\":\"card\",\"creation_date\":1615131874000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"191.98.182.73\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{\"order_id\":\"0001\"}}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CULQI-ENVIRONMENT:
      - test
      X-CULQI-TRACKING-ID:
      - '10142416'
      X-CULQI-VERSION:
      - 2.0.0
      x-amz-apigw-id:
      - b0szqE6xoAMFfKw=
      x-amzn-Remapped-Date:
      - Sun, 07 Mar 2021 15:44:36 GMT
      x-amzn-Remapped-Server:
      - Apache-Coyote/1.1
      x-amzn-RequestId:
      - 6534e11f-20db-4ffb-ac59-ac62dd360865
    status:
      code: 200
      message: OK
version: 1
