interactions:
- request:
    body: '{"card_number": "5400000000000005", "expiration_month": "01", "expiration_year":
      "2025", "cvv": "492", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_V15reDL7Xqk0b5Xw","type":"card","creation_date":1589955029000,"email":"richard@piedpiper.com","card_number":"540000******0005","last_four":"0005","active":true,"iin":{"object":"iin","bin":"540000","card_brand":"MasterCard","card_type":"credito","card_category":"Oro","issuer":{"name":"SAMBA
        FINANCIAL GROUP","country":"SAUDI ARABIA","country_code":"SA","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - M0R5SGmKIAMFQYg=
      x-amzn-Remapped-Content-Length:
      - '612'
      x-amzn-RequestId:
      - 76f1928c-1b72-4119-a754-66c038b5bd56
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"card_number": "5400000000000005", "expiration_month": "01", "expiration_year":
      "2025", "cvv": "492", "email": "richard@piedpiper.com"}'
    headers:
      Authorization:
      - Bearer culiq_api_key
      Content-type:
      - application/json
    method: POST
    uri: https://secure.culqi.com/v2/tokens
  response:
    body:
      string: '{"object":"token","id":"tkn_test_SlFO5Xa4vCOqoUWk","type":"card","creation_date":1615131847000,"email":"richard@piedpiper.com","card_number":"540000******0005","last_four":"0005","active":true,"iin":{"object":"iin","bin":"540000","card_brand":"MasterCard","card_type":"credito","card_category":"Oro","issuer":{"name":"SAMBA
        FINANCIAL GROUP","country":"PERU","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"191.98.182.73","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - b0svOGT3IAMFaJw=
      x-amzn-Remapped-Content-Length:
      - '603'
      x-amzn-RequestId:
      - f22da07a-0e38-4f4e-aede-ee9ef3ca66a0
    status:
      code: 201
      message: Created
version: 1
