interactions:
  - request:
      body:
        '{"cvv": "123", "card_number": "4111111111111111", "expiration_year": "2025",
        "expiration_month": "09", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_BXaKlPBLZf1u3zHq\",\"type\":\"card\",\"creation_date\":1589341169000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - Mc3NyFgxIAMF8gg=
        x-amzn-Remapped-Content-Length:
          - "613"
        x-amzn-RequestId:
          - 057d09ea-1348-4205-af3c-0cec48c01f9a
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/tokens/tkn_test_BXaKlPBLZf1u3zHq
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_BXaKlPBLZf1u3zHq\",\"type\":\"card\",\"creation_date\":1589341169000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":true,\"iin\":{\"object\":\"iin\",\"bin\":\"411111\",\"card_brand\":\"Visa\",\"card_type\":\"credito\",\"card_category\":\"Cl\xE1sica\",\"issuer\":{\"name\":\"BBVA\",\"country\":\"PERU\",\"country_code\":\"PE\",\"website\":null,\"phone_number\":null},\"installments_allowed\":[2,4,6,8,10,12,3,5,7,9,24,48]},\"client\":{\"ip\":\"190.237.22.191\",\"ip_country\":\"Peru\",\"ip_country_code\":\"PE\",\"browser\":\"UNKNOWN\",\"device_fingerprint\":null,\"device_type\":\"Escritorio\"},\"metadata\":{}}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-CULQI-ENVIRONMENT:
          - test
        X-CULQI-TRACKING-ID:
          - "6892604"
        X-CULQI-VERSION:
          - 2.0.0
        x-amz-apigw-id:
          - Mc3N8E3TIAMF5LA=
        x-amzn-Remapped-Date:
          - Wed, 13 May 2020 03:39:30 GMT
        x-amzn-Remapped-Server:
          - Apache-Coyote/1.1
        x-amzn-RequestId:
          - 4dfb4cb7-70d7-4399-9257-b3c42fea51b1
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/tokens/tkn_test_t2KhtU1dh4pLRAEE
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_t2KhtU1dh4pLRAEE\",\"type\":\"card\",\"creation_date\":1615072342000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":tr[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/tokens/tkn_test_J7PJmv60W1m9KEW8
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_J7PJmv60W1m9KEW8\",\"type\":\"card\",\"creation_date\":1615072667000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":tr[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/tokens/tkn_test_vA413fDuHAFXScnn
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_vA413fDuHAFXScnn\",\"type\":\"card\",\"creation_date\":1615073030000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":tr[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/tokens/tkn_test_lKkmHXkoJCw48h7Q
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_lKkmHXkoJCw48h7Q\",\"type\":\"card\",\"creation_date\":1615073379000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":tr[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/tokens/tkn_test_d9UIDb25kXfoD3Se
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_d9UIDb25kXfoD3Se\",\"type\":\"card\",\"creation_date\":1615121778000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":tr[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/tokens/tkn_test_APUlZ2x4K17fq1GO
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_APUlZ2x4K17fq1GO\",\"type\":\"card\",\"creation_date\":1615123764000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":tr[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/tokens/tkn_test_HSrFsWSabZPfwetA
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_HSrFsWSabZPfwetA\",\"type\":\"card\",\"creation_date\":1615129762000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":tr[...]
[...]
  - request:
      body: null
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: GET
      uri: https://api.culqi.com/v2/tokens/tkn_test_SlPt0YtMQVeIJVFv
    response:
      body:
        string: "{\"object\":\"token\",\"id\":\"tkn_test_SlPt0YtMQVeIJVFv\",\"type\":\"card\",\"creation_date\":1615131872000,\"email\":\"richard@piedpiper.com\",\"card_number\":\"411111******1111\",\"last_four\":\"1111\",\"active\":tr[...]
