interactions:
  - request:
      body:
        '{"card_number": "4000030000000009", "expiration_month": "08", "expiration_year":
        "2025", "cvv": "836", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string:
          '{"object":"token","id":"tkn_test_X4WnhyFoWLVjqoVE","type":"card","creation_date":1589955037000,"email":"richard@piedpiper.com","card_number":"400003******0009","last_four":"0009","active":true,"iin":{"object":"iin","bin":"400003","card_brand":"Visa","card_type":"credito","card_category":null,"issuer":{"name":"","country":"UNITED
          STATES","country_code":"US","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"190.237.22.191","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - M0R6nH5KIAMFfwQ=
        x-amzn-Remapped-Content-Length:
          - "585"
        x-amzn-RequestId:
          - 4c680fc9-5011-4278-af80-8ac2103b4556
      status:
        code: 201
        message: Created
[...]
  - request:
      body:
        '{"card_number": "4000030000000009", "expiration_month": "08", "expiration_year":
        "2025", "cvv": "836", "email": "richard@piedpiper.com"}'
      headers:
        Authorization:
          - Bearer culiq_api_key
        Content-type:
          - application/json
      method: POST
      uri: https://secure.culqi.com/v2/tokens
    response:
      body:
        string: '{"object":"token","id":"tkn_test_7cOxXmpMEiABIZNU","type":"card","creation_date":1615131857000,"email":"richard@piedpiper.com","card_number":"400003******0009","last_four":"0009","active":true,"iin":{"object":"iin","bin":"400003","card_brand":"Visa","card_type":"credito","card_category":null,"issuer":{"name":"","country":"PERU","country_code":"PE","website":null,"phone_number":null},"installments_allowed":[]},"client":{"ip":"191.98.182.73","ip_country":"Peru","ip_country_code":"PE","browser":"UNKNOWN","device_fingerprint":null,"device_type":"Escritorio"},"metadata":{}}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        x-amz-apigw-id:
          - b0swuE7MoAMFpWA=
        x-amzn-Remapped-Content-Length:
          - "575"
        x-amzn-RequestId:
          - b07b4d75-901f-4959-86d3-295e0bda7a85
      status:
        code: 201
        message: Created
version: 1
